<template>
  <div class="">
    <h1 class="headtitle">KONTROLNA TABLA</h1>

     <div class="main-container">
         <!-- <button>Vozaci</button> -->
        <div class="category">
          <a href="/drivers"> <i class="fa fa-id-card"></i> <br> Vozači</a>
        </div>
        <div class="category">
          <a href="/clients"> <i class="fa fa-handshake-o" aria-hidden="true"></i><br> Kupci</a>
        </div>
        <div class="category">
          <a href="/suppliers"> <i class="fa fa-briefcase"></i> <br> Dobavljaci</a>
        </div>
        <div class="category">
          <a  href="/trucks"> <i class="fa fa-bus" aria-hidden="true"></i> <br>  Kamioni</a>
        </div>
        <div class="category">
          <a  href="/trailers"> <i class="fa fa-truck"></i> <br>  Prikolice</a>
        </div>
        <div class="category">
          <a  href="/containers"> <i class="fa fa-th-large" aria-hidden="true"></i> <br>  Kontejneri</a>
        </div>
        <div class="category">
          <a  href="/userEmails"> <i class="fa  fa-user"></i> <br>  Korisnički nalozi</a>
        </div>
     </div>

  </div>
</template>

<script>

import axios from 'axios';

export default {
  name: 'AdminBoard',
  data() {
    return {
  
    }
  },
  methods: {
   async addNewTask(event){
     event.preventDefault();
     try{
       const addTask = await axios.post('https://strapi-simtrans.herokuapp.com/daily-tasks', {
         'TaskDate': this.newTask.TaskDate,  
         'TaskFrom': this.newTask.TaskFrom,
         'TaskCompany': this.newTask.TaskCompany, 
         'TaskTo' : this.newTask.TaskTo,
         'TaskInvoice': this.newTask.TaskInvoice,
         'driver': this.newTask.driver
       }).then(response =>{
         console.log(response);
         console.log(addTask)
          this.newTask = {};
          console.log(this.newTask);
          this.callApi();
       });
     }catch (e) {
      console.log(e);
    }
   },
   async callApi(){
    try {
      const resDrivers = await axios.get('https://strapi-simtrans.herokuapp.com/drivers');
      const resTasks = await axios.get('https://strapi-simtrans.herokuapp.com/daily-tasks');
      const resCompanies = await axios.get('https://strapi-simtrans.herokuapp.com/companies');
      this.drivers = resDrivers.data;
      console.log(this.drivers);
      this.tasks = resTasks.data;
      this.companies = resCompanies.data;
      console.log(this.companies);
    } catch (e) {
      console.log(e);
    }
   },
   alert(){
     alert("you cliecked")
   }
  },
  computed:{

  },
  beforeMount: function (){
    this.callApi();
  },
  watch: {
    tasks: function(){
      console.log("task changed")
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* head css */
.headtitle{
  /* background: #034668; */
  /* text-transform:uppercase; */
  font-size: 25px;
  color: #034668;
  border-radius: 5px;
  width: 20%;
  margin: 0 auto;
  padding: 10px;
}
.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* flex-direction: column; */
    width: 50%;
    margin: 100px auto;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-gap: 20px;
}
.category{
    /* min-height: 170px; */
    display: flex;
    flex-direction: column;
    width: 100%;
    /* padding: 15px; */
    /* border: 1px solid rgb(2, 1, 1); */
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-weight: bolder;
    background: #023249;
    /* display: block; */
    color: white;
    text-decoration: none;
}
.category a {
  width: 100%;
  color: white;
  padding: 20px;
}
.category i {
  padding: 5px;
  font-size: 45px;
  margin-bottom: 10px;
}
</style>
