<template>
  <div class="">
    <h1>ArtPetrol</h1>
    <ul class="company-info">
        <li>
            Ime: <br> <span>{{company.Name}}</span>
        </li>
        <li>
            PIB: <br><span>{{company.PIB}}</span>
        </li>
        <li>
            Matični broj: <br> <span>{{company.Number}}</span>
        </li>
        <li>
            Adresa: <br><span>{{company.Address}}</span>
        </li>
        <li>
            Tekući račun: <br> <span>{{company.AccountNumber}}</span>
        </li>
    </ul>

    <div class="artpetrol">
        <div class="invoices">
            <h1>Ulazne fakture</h1>
        </div>
        <div class="expences">
            <div class="newExpence">
                <p class="">Dodaj plaćanje <button @click="show()" class="modalButton" ><i class="fa fa-plus" aria-hidden="true"></i></button></p>
                <modal name="artPetrol"  height="auto" class="modal">
                    <h3>Dodaj novo plaćanje</h3>
                    <form action="" class="clientForm">
                        <label for="Datum">Datum</label>
                        <input type="date" name="Datum" v-model="newExpence.Date">
                        
                        <label for="Amount">Iznos</label>
                        <input type="text" name="Amount" v-model="newExpence.Amount">

                        <button @click="addNewExpence($event)" class="addBtn">DODAJ</button>
                    </form>
                </modal>
            </div>
            <h1>Plaćeno</h1>
            <div class="artpetrolExpences">
                <table class="content-table" ref="table"> 
                    <thead>
                    <tr>
                        <td><th>Datum</th></td>
                        <td><th>Iznos</th></td>
                        <td><th></th></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="expence in expences" :key="expence.id">
                        <td>{{expence.Date}}</td>
                        <td>{{expence.Amount}} RSD</td>
                        <td><button class="removeExp" @click="deleteTask(expence.id)"><i class="fa fa-times" aria-hidden="true"></i></button></td>
                    </tr>
                    <tr class="RSD">
                        <td>UKUPAN IZNOS U RSD:</td>
                        <td>{{totalExpences}}</td>
                        <td>RSD</td>
                    </tr>
                    <tr class="EUR">
                        <td>UKUPAN IZNOS U EUR</td>
                        <td>{{totalExpencesEUR}}</td>
                        <td>EUR</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

  </div>
</template>

<script>

import axios from 'axios';

export default {
  name: 'Drivers',
  data() {
    return {
        company: '',
        newExpence: {
            Date: '',
            Amount: ''
        },
        expences:[],
    }
  },
  methods: {
    async callApi(){
    try {
      const resExpences = await axios.get('https://strapi-simtrans.herokuapp.com/art-petrol-expences');
      this.expences = resExpences.data;
      const resCompany = await axios.get('https://strapi-simtrans.herokuapp.com/suppliers/61d3385ef40fe500160986af');
      this.company = resCompany.data;
    } catch (e) {
      console.log(e);
    }
   },
   async addNewExpence(e){
       e.preventDefault();
       this.hide()
       try{
           const resExpence = await axios.post('https://strapi-simtrans.herokuapp.com/art-petrol-expences',{
               'Date':this.newExpence.Date,
               'Amount':this.newExpence.Amount
           });
           this.newExpence.Date = '';
           this.newExpence.Amount = '';
           console.log(resExpence);
           this.callApi();
       } catch (e){
           console.log(e)
       }
   },
   deleteTask(id){
     var result = confirm("Da li ste sigurni da želite da obrišete ovaj trošak?");
     if(result){
       axios.delete('https://strapi-simtrans.herokuapp.com/art-petrol-expences/' + id)
       .then(() => {
          this.callApi();
          this.$store.dispatch('addNotification',{
            type: "delete",
            message: "Trošak obrisan"
          })
        }, (error) => {
          console.log(error);
        })
     }
   },
   show () {
      this.$modal.show('artPetrol');
   },
   hide () {
      this.$modal.hide('artPetrol');
   },
  },
  computed:{
      totalExpences: function(){
          var total = 0;
          for(var i=0;i<this.expences.length;i++){
              total += parseInt(this.expences[i].Amount);
          }
          return total;
      },
      totalExpencesEUR: function(){
          var total = 0;
          for(var i=0;i<this.expences.length;i++){
              total += parseInt(this.expences[i].Amount);
          }
          total /= 117.5;
          total = total.toFixed(2);
          return total;
      }
  },
  beforeMount: function (){
    this.callApi();
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* head css */
.artpetrol {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-top: 50px;
    /* border: 1px solid black; */
}
.invoices{
    margin-top: 50px;
    /* background: chocolate; */
    /* border-right: 1px solid black; */
}
.newExpence{
    height: 50px;
}
.clientForm{
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* width: 50%; */
  height: 100%;
  margin: 20px auto;
}
.clientForm input {
  /* width: 30%; */
  margin: 10px auto;
  border: none;
  border-bottom: 1px solid #034668;
  text-align: center;
}
.addBtn{
    margin-left: 10px;
    padding: 15px;
    font-weight: bolder;
    background: #26BC90;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    width: 20%;
    margin: 0 auto;
    margin-top: 30px;
    cursor: pointer;
    border: none;
    transition: all .2s ease;
}
.modal{
    padding: 30px;
}
.modal h3 {
    margin-top: 20px;
}
.content-table{
  border-collapse: collapse;
  margin: 25px auto;
  /* font-size: 1.2em; */
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  max-width: 55vw;
  text-align: center;
}
.content-table thead tr {
  background: #cacaca;
  color: rgb(61, 61, 61);
  font-weight: bold;
}
.content-table thead tr td th{
  /* background: red; */
  width: 100%;
  display: block;
  text-align: center;
  font-size: 20px;
  padding: 10px 0;
}
.content-table td {
  padding: 12px 10px;
  text-align: center;
  font-size: 15px;
}
.content-table tbody tr {
  border-bottom: 1px solid #ddd;
}
.content-table tbody tr:nth-of-type(even){
  background: #f3f3f3;
}
.content-table tbody tr:last-of-type{
  border-bottom: 2px solid #034668;
}
.RSD,.EUR{
    font-weight: bold;
    font-size: 15px;
    color: black;
    border: 2px solid rgb(53, 53, 53);
    background: rgb(228, 228, 228) !important;
}
.RSD td, .EUR td{
    font-size: 15px;
}
.removeExp{
    cursor: pointer;
    border: none;
    padding: 6px;
    font-size: 17px;
    font-weight: bolder;
    color: white;
    border-radius: 5px;
    background: rgb(231, 34, 51);
}
.modalButton{
  cursor: pointer;
  padding: 5px 10px;
  background: #26BC90;
  font-size: 17px;
  color: white;
  border-radius: 8px;
  font-weight: bolder;
  border: none;
}
.newExpence p {
    font-size: 20px;
}
.company-info{
    display: flex;
    width: 60%;
    padding: 10px;
    margin: 20px auto;
    border-bottom: 1px solid black;
    justify-content: space-between  ;
}
.company-info li {
    /* border: 1px solid black; */
    padding: 10px;
    font-size: 17px;
    display: flex;
    flex-direction: column;
}
.company-info li span {
    font-size: 20px;
    font-weight: bolder;
}
</style>
