<template>
  <div class="">
    <h1 class="headtitle" style="text-align:center; width:80%; margin: 20px auto; padding: 20px; margin-bottom:50px; font-size: 30px; background: #f4f4f4">Kupci</h1>
    <h3>Dodaj novog kupca <button @click="show()" class="modalButton" ><i class="fa fa-plus" aria-hidden="true"></i></button></h3>
    
    <modal name="newClient"  height="auto" class="modal"> 
      <form action="" class="clientForm">
          <label for="Name">Ime</label>
          <input type="text" name="Name" v-model="newClient.Name">
          
          <label for="Name">PIB</label>
          <input type="text" name="PIB" v-model="newClient.PIB">
          
          <label for="Name">Maticni broj</label>
          <input type="text" name="Number" v-model="newClient.Number">
          
          <label for="Name">Adresa</label>
          <input type="text" name="Address" v-model="newClient.Address">
          
          <label for="Name">Tekući račun</label>
          <input type="text" name="AccountNumber" v-model="newClient.AccountNumber">

          <button @click="addClient($event)" class="addBtn">DODAJ</button>
      </form>
    </modal>
    <!-- {{clients}} -->
    <!-- <h2>Lista kupaca</h2> -->
    
    <div class="clients" >
      <div class="client" v-for="client in clients" :key="client.id">
        <router-link :to="'/clients/' + client.id" class="clientCard"><i class="fa fa-address-card" aria-hidden="true"></i>{{client.Name}}</router-link>
      </div>
    </div>
<!-- {{drivers}} -->
    <!-- <h2 class="title">Lista klijenata</h2>
    <table class="content-table" ref="table"> 
        <thead>
          <tr>
            <td><th>Ime</th></td>
            <td><th>Broj faktura</th></td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="client in clients" :key="client.id">
            <td>{{client.Name}}</td>
            <td><a href="#"></a></td>
          </tr>
        </tbody>
      </table> -->


  </div>
</template>

<script>

import axios from 'axios';

export default {
  name: 'Clients',
  data() {
    return {
        newClient:{
          "Name":'',
          "PIB": '',
          "Address" : '',
          "Number" : '',
          "AccountNumber": '',
        },
        modal: false,
        clients: [],
    }
  },
  methods: {
    async callApi(){
    try {
      const resClients= await axios.get('https://strapi-simtrans.herokuapp.com/companies');
      this.clients = resClients.data;
      console.log(this.clients)
    } catch (e) {
      console.log(e);
    }
   },
   show () {
      this.$modal.show('newClient');
   },
   hide () {
      this.$modal.hide('newClient');
   },
   async addClient(event){
     event.preventDefault();
     this.hide();
     try{
       const newClient = await axios.post('https://strapi-simtrans.herokuapp.com/companies', {
         'Name': this.newClient.Name,
         'PIB': this.newClient.PIB,
         'Number':this.newClient.Number,
         'AccountNumber':this.newClient.AccountNumber,
         'Address':this.newClient.Address,
         
       }).then(response =>{
          console.log(response, newClient);
          this.newClient ={
            "Name":'',
            "PIB": '',
            "Address" : '',
            "Number" : '',
            "AccountNumber": '',
          };
          this.callApi();
       });
     }catch (e) {
      console.log(e);
    }
    // console.log(this.newTask);
   },
  },
  computed:{

  },
  beforeMount: function (){
    this.callApi();
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* head css */
.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* flex-direction: column; */
    width: 50%;
    margin: 0 auto;
    grid-gap: 50px;
}
.category{
    min-height: 70px;
    display: flex;
    padding: 15px;
    border: 1px solid rgb(2, 1, 1);
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-weight: bolder;
    background: #006D8A;
    /* display: block; */
    color: white;
    text-decoration: none;
}


/* btnAdd */
button{
    border: none;
}
.addBtn{
    margin-left: 10px;
    padding: 15px;
    font-weight: bolder;
    background: #26BC90;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    width: 20%;
    margin: 0 auto;
    margin-top: 30px;
    cursor: pointer;
    transition: all .2s ease;
}
.addBtn:hover{
    background:#135c46 ;
}
label{
    font-size: 20px;
}
input{
    line-height: 30px;
    font-size: 20px;
    margin-left: 10px;
    padding:  5px 10px;
}


.title{
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}


/* TABELA */
.content-table{
  border-collapse: collapse;
  margin: 25px auto;
  /* font-size: 1.2em; */
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  width: 100%;
  max-width: 55vw;
  text-align: center;
}
.content-table thead tr {
  background: #034668;
  color: white;
  font-weight: bold;
}
.content-table thead tr td th{
  /* background: red; */
  width: 100%;
  display: block;
  text-align: center;
  font-size: 20px;
  padding: 10px 0;
}
.content-table td {
  padding: 12px 10px;
  text-align: center;
  font-size: 20px;
}
.content-table tbody tr {
  border-bottom: 1px solid #ddd;
}
.content-table tbody tr:nth-of-type(even){
  background: #f3f3f3;
}
.content-table tbody tr:last-of-type{
  border-bottom: 2px solid #034668;
}
.clientForm{
  display: flex;
  flex-direction: column;
  /* width: 50%; */
  height: 100%;
  margin: 20px auto;
}
.clientForm input {
  /* width: 30%; */
  margin: 10px auto;
  border: none;
  border-bottom: 1px solid #034668;
  text-align: center;
}
.modalButton{
  cursor: pointer;
  padding: 5px 10px;
  background: #26BC90;
  font-size: 17px;
  color: white;
  border-radius: 8px;
  font-weight: bolder;
}
.clientCard{
  font-size: 20px;
  color: #2d3031;
  padding: 20px 30px;
  margin: 10px;
  border-radius: 10px;
  display: block;
  text-align: left;
  display: flex;
  align-items: center;
  background: rgb(243, 243, 243);
  /* border: 1px solid black; */
}
.clientCard i {
  font-size: 10px;
  background: #03323f ;
  padding: 10px;
  margin-right: 10px;
  border-radius: 1000px;
  color: white;
}
.clients{
  /* background: rebeccapurple; */
  width: 75%;
  display: grid;
  margin: 20px auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1%;
}
h3{
  margin: 20px;
}
</style>
