<template>
  <div class="">
    <h1 class="headtitle" style="text-align:center; width:80%; margin: 20px auto; padding: 20px; margin-bottom:50px; font-size: 30px; background: #f4f4f4">Kotnejneri</h1>
    
    <form action="">
        <h3 class="title">Dodaj nov kontejner</h3>
        <label for="Name">Registracija</label>
        <input type="text" name="Name" v-model="newTruck.Number">
        <button @click="addTruck($event)" class="addBtn">DODAJ</button>
    </form>
<!-- {{drivers}} -->
    <!-- <h2 class="title">Lista vozača</h2> -->
    <div class="serach">
      <h3>Pretraga</h3>
      <input type="text"  v-model="searchFilter" >
    </div>
      <div class="clients">
        <div class="client" v-for="truck in filteredTrucks" :key="truck.id">
          <router-link :to="'/containers/' + truck.id" class="clientCard"><i class="fa fa-address-card" aria-hidden="true"></i>{{truck.Number}}</router-link>
        </div>
      </div>


  </div>
</template>

<script>

import axios from 'axios';

export default {
  name: 'Trucks',
  data() {
    return {
        newTruck:{
          'Number':'',
          'RegistrationDate': '',
          'TrafficPermit':'',
          'Licence':''
        },
        trucks: [],
        searchFilter: '',
    }
  },
  methods: {
    async callApi(){
    try {
      const resTrucks = await axios.get('https://strapi-simtrans.herokuapp.com/containers');
      this.trucks = resTrucks.data;
    } catch (e) {
      console.log(e);
    }
   },
   async addTruck(event){
     event.preventDefault();
     try{
       const truck = await axios.post('https://strapi-simtrans.herokuapp.com/containers', {
         'Number': this.newTruck.Number
       }).then(response =>{
         console.log(response, truck);
          this.newTruck ={
          'Number':'',
          'RegistrationDate': '',
          'TrafficPermit':'',
          'Licence':''
          };
          this.callApi();
       });
     }catch (e) {
      console.log(e);
    }
    // console.log(this.newTask);
   },
  },
  computed:{
    filteredTrucks(){
      console.log(this.trucks);
      return this.trucks.filter(truck => truck.Number.toLowerCase().includes(this.searchFilter.toLowerCase()))
    },
  },
  beforeMount: function (){
    this.callApi();
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* head css */
.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* flex-direction: column; */
    width: 50%;
    margin: 0 auto;
    grid-gap: 50px;
}
.category{
    min-height: 70px;
    display: flex;
    padding: 15px;
    border: 1px solid rgb(2, 1, 1);
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-weight: bolder;
    background: #006D8A;
    /* display: block; */
    color: white;
    text-decoration: none;
}


/* btnAdd */
button{
    border: none;
}
.addBtn{
    margin-left: 10px;
    padding: 15px;
    font-weight: bolder;
    background: #26BC90;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s ease;
}
.addBtn:hover{
    background:#135c46 ;
}
label{
    font-size: 20px;
}
input{
    line-height: 30px;
    font-size: 20px;
    margin-left: 10px;
    padding:  5px 10px;
}


.title{
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}


/* TABELA */
.content-table{
  border-collapse: collapse;
  margin: 25px auto;
  /* font-size: 1.2em; */
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  width: 100%;
  max-width: 55vw;
  text-align: center;
}
.content-table thead tr {
  background: #034668;
  color: white;
  font-weight: bold;
}
.content-table thead tr td th{
  /* background: red; */
  width: 100%;
  display: block;
  text-align: center;
  font-size: 20px;
  padding: 10px 0;
}
.content-table td {
  padding: 12px 10px;
  text-align: center;
  font-size: 20px;
}
.content-table tbody tr {
  border-bottom: 1px solid #ddd;
}
.content-table tbody tr:nth-of-type(even){
  background: #f3f3f3;
}
.content-table tbody tr:last-of-type{
  border-bottom: 2px solid #034668;
}
.clients{
  /* background: rebeccapurple; */
  width: 75%;
  display: grid;
  margin: 20px auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1%;
}
.clientCard{
  font-size: 20px;
  color: #2d3031;
  padding: 20px 30px;
  margin: 10px;
  border-radius: 10px;
  display: block;
  text-align: left;
  display: flex;
  align-items: center;
  background: rgb(243, 243, 243);
  /* border: 1px solid black; */
}
.clientCard i {
  font-size: 10px;
  background: #03323f ;
  padding: 10px;
  margin-right: 10px;
  border-radius: 1000px;
  color: white;
}
.serach{
  text-align: left;
  margin: 20px 13%;
}
.serach h3 {
  /* margin-left: 20px; */
  padding: 15px;
}
</style>
