<template>
  <div class="home">
    <div class="todoTaks">
      <!-- <h1>Zadaci</h1> -->
      <!-- <img alt="Vue logo" src="../assets/logo.png"> -->
      <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->
      <div id="clock">
          <p class="date">{{ date }}</p>
          <p class="time">{{ time }}</p>
      </div>

          <h3 v-if="this.todos != ''">Lista podsetnika</h3>
          <div  class="todo">
          <div class="todoCars" v-for="todo in todos" :key="todo.id" v-bind:class="{ done: todo.Done}">
            <div class="todoHead">
              <div class="todoHeader" v-bind:class="todo.Name">
                <p>{{todo.Name}}</p>
              </div>
              <div class="todoButton">
                <button @click="finishTodo(todo.id)"> <p style="margin-right: 5px">Završi</p> <i class="fa fa-check-circle-o" aria-hidden="true"></i></button>
              </div>
            </div>
            <div class="todoBody">
              <div class="todoText">
                <p>{{todo.Text}}</p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/ .vue'
import store from '../store/index.js';
import axios from 'axios';

export default {
  store,
  name: 'Home',
  data() {
    return {
        todos: [],
        time: '',
        date: ''
    }
  },
  components: {
  },
  methods: {
    async callApi(){
    try {
      const resTodos= await axios.get('https://strapi-simtrans.herokuapp.com/todos?Done=false');
      this.todos = resTodos.data;
    } catch (e) {
      console.log(e);
    }
   },
      finishTodo(id){
     console.log(id)
     axios.put('https://strapi-simtrans.herokuapp.com/todos/' + id, {
       'Done' : true
     })
       .then(() => {
          this.callApi();
          // console.log(this.componentKey)
        }, (error) => {
          console.log(error);
        })
     
   },
    zeroPadding(num, digit) {
        var zero = '';
        for(var i = 0; i < digit; i++) {
            zero += '0';
        }
        return (zero + num).slice(-digit);
    },
    updateTime() {
        var cd = new Date();
        var week = ['NEDELJA', 'PONEDELJAK', 'UTORAK', 'SREDA', 'ČETVRTAK', 'PETAK', 'SUBOTA'];
        this.time = this.zeroPadding(cd.getHours(), 2) + ':' + this.zeroPadding(cd.getMinutes(), 2) + ':' + this.zeroPadding(cd.getSeconds(), 2);
        this.date = this.zeroPadding(this.zeroPadding(cd.getDate(), 2) + '.' +this.zeroPadding(cd.getMonth()+1, 2)+'.'  + ' ' + week[cd.getDay()]);
    }
  },
  beforeMount: function (){
    this.callApi();
    
    setInterval(this.updateTime, 1000);
    this.updateTime();
  },
}
</script>

<style scoped>
h3{
  margin-top: 25px;
}
.todo{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: start;
  justify-items: start;
  align-items: start;
  align-items: space-evenly;

  /* align-content: start; */
  max-width: 75%;
  margin: 0 auto;
  margin-top: 30px;
  grid-gap: 5%;
}
.newTodo{
  display: flex;
  justify-content: center;
  border-bottom: 1px solid lightgray;
  margin-bottom: 20px;
}
label{
  font-size: 20px;
  font-weight: bolder;
  text-align: left;
}
input{
  padding:  10px 20px;
  border: none;
  font-size: 16px;
  min-width: 250px;
  border-bottom: 1px solid black;
}
select{
  padding:  10px 20px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid black;
}
select option {
  font-size: 20px;
  padding: 5px !important;
}
.newTodoText, .newTodoName, .newTodoButton{
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.newTodoButton{
  align-self: flex-end;
}
.newTodoButton button {
  padding: 13px;
  font-size: 17px;
  font-weight: bolder;
  background: rgb(46, 216, 88);
  color: white;
  border: none;
  cursor: pointer;
}
.todoCars {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  min-width: 100%;
  /* align-self: space; */
  /* max-width: 75%; */
  /* margin: ; */
  /* border-bottom: 1px solid black; */
  /* margin-top: 1px; */
}
.todoHeader{
  width: 100px;
  /* background: blanchedalmond; */
  font-size: 20px;
  padding: 10px;
  color: rgb(29, 29, 29);
  color: white;
  font-weight: bolder;
  /* margin-left: 30px; */
  /* border: 1px solid black; */
  /* align-self: flex-start; */
}
.Luka{
    background: #063146ea;
}
.todoBody{
  padding: 10px;
  margin-top: 5px;
  border: 1px solid rgb(226, 226, 226);
  display: flex;
  /* background: rebeccapurple; */
}
.todoText{
  font-size: 17px;
  /* font-weight: bolder; */
  text-align: left;
  padding: 10px;
}
.todoButton button {
  display: flex;
  /* padding: 5px; */
  padding: 10px;
  /* border-radius: 10px; */
  font-size: 17px;
  font-weight: bolder;
  /* border-radius: 10px; */
  background: rgb(46, 216, 88);
  align-self: flex-end;
  /* justify-self: flex-end; */
  /* justify-self: end; */
  align-self: flex-start;
  color: white;
  border: none;
  cursor: pointer;
}
.Nevena { 
    background: #063146ea;
}
.Stefan{ 
    background: #063146ea;
}
.Mihajlo{  
    background: #063146ea;
}
.Saška{  
    background: #063146ea;

}
.Frka{    background: #063146ea;

}
.Vesna{
  background: #063146ea;

}
.todoHead{
  display: flex;
  justify-content: space-between;
}
#clock {
    color: #0c0c0c;
    text-align: center;
    /* position: absolute; */
    /* left: 50%;
    top: 20%; */
    /* transform: translate(-50%, -50%); */
    font-weight: 500;
    color: #063146ea;
    text-shadow: 0 0 20px rgb(197, 197, 197),  0 0 20px rgba(10, 175, 230, 0);
    
    
}
.time {
  letter-spacing: 0.05em;
  font-size: 80px;
  padding: 5px 0;
}
.date {
  letter-spacing: 0.1em;
  font-size: 24px;
}
.text {
  letter-spacing: 0.1em;
  font-size: 12px;
  padding: 20px 0 0;
}
</style>
