<template>
  <div class="">
    <h1 class="headtitle" >Fakture</h1>
    <h3>Dodaj novu ulaznu fakturu</h3>
    <div class="invoiceTable">
        <div class="invoiceRow">
            <label for="Datum">Delovodni broj</label>
            <input type="text" v-model="delovodniBroj">
        </div>
        <div class="invoiceRow">
            <label for="Datum">Broj fakture</label>
            <input type="text" v-model="invoiceNumber">
        </div>
        <div class="invoiceRow">
            <label for="Datum">Datum</label>
            <input type="date" v-model="invoiceDate">
        </div>
        <div class="invoiceRow">
            <label for="Datum">Iznos bez pdv-a</label>
            <input type="text" v-model="invoiceAmount">
        </div>
        <div class="invoiceRow">
          <label for="Datum">PDV</label>
           <div class="switch">
            <input id="switch-1" type="checkbox" class="switch-input" v-model="pdv"  />
            <label for="switch-1" class="switch-label"></label>
          </div>
        </div>
        <div class="invoiceRow">
          <label for="Datum">Dobavljač</label>
          <input type="text" class="inputSearch" v-model="companySearch" @input="companySearchBool()">
          <div class="companySearch" v-if="companySearching" > 
            <p @click="setCompany(company.id, company.Name, company.AccountNumber)" v-for="company in filteredCompanies" :key="company.id">
              {{ company.Name }}
            </p>
            <p class="addNewCompany" @click="show()" >Dodaj novu firmu</p>
          </div>
        </div>
        <div class="invoiceRow">
            <label for="Datum">Opis</label>
            <input type="text" v-model="description">
        </div>
        <div class="invoiceRow">
            <label for="Datum">Kamion</label>
            <input type="text" v-model="truckNumber">
        </div>
        <div class="invoiceRow">
            <label for="Datum">Kontejner</label>
            <input type="text" v-model="truckNumber">
        </div>
        
        <div class="invoiceRow">
            <label for="Datum">Prikolica</label>
            <input type="text" v-model="truckNumber">
        </div>
        
        <div class="invoiceRow">
            <label for="Datum">Ostalo</label>
            <input type="text" v-model="truckNumber">
        </div>
        <div class="invoiceRow">
            <label for="Datum">Broj tekućeg računa</label>
            <input type="text" v-model="accountNumber">
        </div>
        <div class="invoiceRow">
            <label for="Datum">Poziv na broj</label>
            <input type="text" v-model="refenceNumber">
        </div>
        <div class="invoiceRow">
            <label for="Datum">Valuta plaćanja</label>
            <input type="text" v-model="currency">
        </div>
        <div class="invoiceRow">
            <label for="Datum">Datum plaćanja</label>
            <input type="text" v-model="paymentDate">
        </div>
        <div class="invoiceRow">
            <button class="addButton" @click="addInvoice()"><i class="fa fa-plus-circle" aria-hidden="true"></i> Dodaj</button>
        </div>
    </div>
    <!-- <h1>{{newInvoiceCompanyId}}</h1> -->
         <table class="profile-table" id="customers"> 
            <thead>
                <tr>
                    <th>Delovodni broj</th>
                    <th>Broj fakture</th>
                    <th>Datum</th>
                    <th>Iznos bez PDV-a</th>
                    <th>PDV</th>
                    <th>Ukupno sa pdv-om</th>
                    <th>Dobavljač</th>
                    <th>Opis</th>
                    <th>Kontejner/Kamion</th>
                    <th>Broj tekućeg računa</th>
                    <th>Poziv na broj</th>
                    <th>Valuta plaćanja</th>
                    <th>Plaćeno datuma</th>
                    <!-- <td><th>Od</th></td> -->
                </tr>
            </thead>
                <tbody>
                    <tr v-for="invoice in invoices" :key="invoice.id" v-bind:class="{ payed: invoice.Payed}">
                        <td>{{invoice.DelovodniBroj}}</td>
                        <td>{{invoice.InvoiceNumber}}</td>
                        <td>{{invoice.Date}}</td>
                        <td>{{invoice.AmountWithoutPDV}} <span class="boldrsd">RSD</span></td>
                        <td>{{CalculatePDV(invoice.AmountWithoutPDV, invoice.PDV)}} <span class="boldrsd">RSD</span></td>
                        <td>{{TotalWithPDV(invoice.AmountWithoutPDV, invoice.PDV)}} <span class="boldrsd">RSD</span></td>
                        <td>{{invoice.Supplier}}</td>
                        <td>{{invoice.Description}}</td>
                        <td>{{invoice.TruckNumber}}</td>
                        <td>{{invoice.AccountNumber}}</td>
                        <td>{{invoice.ActionNumber}}</td>
                        <td>{{invoice.Currency}}</td>
                        <td>{{invoice.PaymentDate}}</td>
                        <td>
                          <button class="deleteButton" @click="deleteInvoice(invoice.id)">Izbriši</button>
                          <button class="printButton" @click="show(invoice)">Izmeni <i class="fa fa-pencil" aria-hidden="true"></i></button>
                          <button v-if="!invoice.Payed" class="payButton" @click="payInvoice(invoice.id)">Plaćeno</button>
                        </td>
                    </tr>
                </tbody>
            </table>
                
    <modal name="newClient"  height="auto" class="modal"> 
      <form action="" class="clientForm">
          <label for="Name">Delovodni broj</label>
          <input type="text" name="Name" v-model="editInvoice.DelovodniBroj">
          
          <label for="Name">Broj fakture </label>
          <input type="text" name="PIB" v-model="editInvoice.InvoiceNumber">
          
          <label for="Name">Datum</label>
          <input type="date" name="Number" v-model="editInvoice.Date">
          
          <div class="switch">
            <input id="switch-2" type="checkbox" class="switch-input" v-model="editInvoice.PDV"  />
            <label for="switch-2" class="switch-label"></label>
          </div>
          
          <label for="Name">Dobavljač</label>
          <input type="text" name="AccountNumber" v-model="editInvoice.Supplier">
  
          <label for="Datum">Opis</label>
          <input type="text" v-model="description">


            <label for="Datum">Kamion</label>
            <input type="text" v-model="editInvoice.TruckNumber">

            <!-- <label for="Datum">Kontejner</label>
            <input type="text" v-model="truckNumber">


            <label for="Datum">Prikolica</label>
            <input type="text" v-model="truckNumber">
        
            <label for="Datum">Ostalo</label>
            <input type="text" v-model="truckNumber"> -->

            <label for="Datum">Broj tekućeg računa</label>
            <input type="text" v-model="editInvoice.AccountNumber">


            <label for="Datum">Poziv na broj</label>
            <input type="text" v-model="editInvoice.ActionNumber">


            <label for="Datum">Valuta plaćanja</label>
            <input type="text" v-model="editInvoice.Currency">


            <label for="Datum">Datum plaćanja</label>
            <input type="date" v-model="editInvoice.PaymentDate">

            <div class="switch">
            <input id="switch-3" type="checkbox" class="switch-input" v-model="editInvoice.Payed"  />
            <label for="switch-3" class="switch-label">Plaćeno</label>
          </div>

          <button @click="updateInvoice($event,editInvoice.id)" class="addBtn">Ažuriraj</button>
      </form>
    </modal>


    
  </div>
</template>

<script>

import axios from 'axios';

export default {
  name: 'Invoice',
  data() {
    return {
        invoices: [],
        delovodniBroj: '',
        invoiceNumber: '',
        invoiceDate: '',
        invoiceAmount: '',
        pdv: false,
        pdvAmount: '',
        withPDV: '',
        supplier: '',
        description: '',
        truckNumber: '',
        accountNumber: '',
        refenceNumber: '',
        currency: '',
        paymentDate: '',
        newInvoiceCompanyId: '',
        getSuppliers: [],
        getTrucks: [],
        getContainers: [],
        getOther: [],
        getTrailers:[],
        companySearch: '',
        companySearching: false,
        editInvoice: {
          'DelovodniBroj': '',
          'InvoiceNumber': '',
          'Date': '',
          'AmountWithoutPDV': '',
          'PDV': '',
          'Supplier': '',
          'Description': '',
          'TruckNumber': '',
          'AccountNumber': '',
          'ActionNumber': '',
          'Currency': '',
          'PaymentDate': '',
          'supplier': ''
        }
    }
  },
  methods: {
    async callApi(){
    try {
      const resInvoices= await axios.get('https://strapi-simtrans.herokuapp.com/invoices');
      const resSuppliers = await axios.get('https://strapi-simtrans.herokuapp.com/suppliers');
      const resTrucks = await axios.get('https://strapi-simtrans.herokuapp.com/trucks');
      const resContainers = await axios.get('https://strapi-simtrans.herokuapp.com/containers');
      
      this.getTrucks = resTrucks.data;
      this.getContainers = resContainers.data;
      this.getSuppliers = resSuppliers.data;
      this.invoices = resInvoices.data;
      
    } catch (e) {
      console.log(e);
    }
   },
    companySearchBool(){
     console.log(this.companySearch)
     if(this.companySearch != ''){
       this.companySearching = true
     } else {
       this.companySearching = false
     }
   },
   show (invoice) {
      this.editInvoice = invoice;
      this.$modal.show('newClient');
   },
   hide () {
      this.$modal.hide('newClient');
   },
   setCompany(id,name, acnumber){
     this.companySearch = name;
     this.companySearching = false;
     this.accountNumber = acnumber;
     this.newInvoiceCompanyId = id;
     console.log(this.accountNumber);
   },
   async addInvoice(){
     try{
       const newInvoice = await axios.post('https://strapi-simtrans.herokuapp.com/invoices', {
        'DelovodniBroj': this.delovodniBroj,
        'InvoiceNumber': this.invoiceNumber,
        'Date': this.invoiceDate,
        'AmountWithoutPDV': this.invoiceAmount,
        'PDV': this.pdv,
        'Supplier': this.companySearch,
        'Description': this.description,
        'TruckNumber': this.truckNumber,
        'AccountNumber': this.accountNumber,
        'ActionNumber': this.refenceNumber,
        'Currency': this.currency,
        'PaymentDate': this.paymentDate,
        'supplier': this.newInvoiceCompanyId
       }).then(response =>{
         console.log(response, newInvoice);
         this.delovodniBroj =  '';
         this.invoiceNumber =  '';
         this.invoiceDate = '';
         this.invoiceAmount= '';
         this.pdv = false;
         this.pdvAmount = '';
         this.withPDV = '';
         this.supplier = '';
         this.description = '';
         this.truckNumber = '';
         this.accountNumber = '';
         this.refenceNumber = '';
         this.currency = '';
         this.paymentDate = '';
          this.callApi();
       });
     }catch (e) {
      console.log(e);
    }
    // console.log(this.newTask);
   },
   deleteInvoice(id){
     var result = confirm("Da li ste sigurni da želite da obrišete ovaj zadatak?");
     if(result){
       axios.delete('https://strapi-simtrans.herokuapp.com/invoices/' + id)
       .then(() => {
          this.callApi();
          this.$store.dispatch('addNotification',{
            type: "delete",
            message: "Zadatak obrisan"
          })
        }, (error) => {
          console.log(error);
        })
     }
   },
   async payInvoice(id){
     try{
       const updateInvoice = await axios.put('https://strapi-simtrans.herokuapp.com/invoices/' + id, {
         'Payed': true,
       }).then(response =>{
         console.log(response, updateInvoice);
          this.callApi();
       });
     }catch (e) {
      console.log(e);
    }
   },
   async updateInvoice(event,id){
     event.preventDefault();
     try{
       const updateInvoice = await axios.put('https://strapi-simtrans.herokuapp.com/invoices/' + id, this.editInvoice).then(response =>{
         console.log(response, updateInvoice);
          this.callApi();
          this.hide();
       });
     }catch (e) {
      console.log(e);
    }
   },
   CalculatePDV(amount, pdv){
     let pdvAmount = 0;
     if(pdv){
       pdvAmount = (parseFloat(amount).toFixed(2) * 0.2).toFixed(2);
     }
     return pdvAmount;
   },
   TotalWithPDV(amount, pdv){
     let totalWithPDV = amount;
     if(pdv){
       totalWithPDV = (parseFloat(amount).toFixed(2) * 1.2).toFixed(2);
     }
     return totalWithPDV;
   }
  },
  computed:{
    filteredCompanies(){
      return this.getSuppliers.filter(supplier => supplier.Name.toLowerCase().includes(this.companySearch.toLowerCase()));
    },
  },
  beforeMount: function (){
    this.callApi();
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* head css */
.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* flex-direction: column; */
    width: 50%;
    margin: 0 auto;
    grid-gap: 50px;
}
.category{
    min-height: 70px;
    display: flex;
    padding: 15px;
    border: 1px solid rgb(2, 1, 1);
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-weight: bolder;
    background: #006D8A;
    /* display: block; */
    color: white;
    text-decoration: none;
}


/* btnAdd */
button{
    border: none;
}
.addBtn{
    margin-left: 10px;
    padding: 10px;
    font-weight: bolder;
    background: #26BC90;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s ease;
}
.addBtn:hover{
    background:#135c46 ;
}
label{
    font-size: 20px;
}
/* input{
    line-height: 30px;
    font-size: 20px;
    margin-left: 10px;
    padding:  5px 10px;
} */


.title{
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}


/* TABELA */
.content-table{
  border-collapse: collapse;
  margin: 25px auto;
  /* font-size: 1.2em; */
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  width: 100%;
  max-width: 55vw;
  text-align: center;
}
.content-table thead tr {
  background: #034668;
  color: white;
  font-weight: bold;
}
.content-table thead tr td th{
  /* background: red; */
  width: 100%;
  display: block;
  text-align: center;
  font-size: 20px;
  padding: 10px 0;
}
.content-table td {
  padding: 12px 10px;
  text-align: center;
  font-size: 20px;
}
.content-table tbody tr {
  border-bottom: 1px solid #ddd;
}
.content-table tbody tr:nth-of-type(even){
  background: #f3f3f3;
}
.content-table tbody tr:last-of-type{
  border-bottom: 2px solid #034668;
}

.invoiceTable{
    display: flex;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(13, 1fr); */
   /* grid-template-columns: 200px repeat(auto-fill, 100px) 300px; */
   max-width: 100vw;
   font-size: 11px;
}
.invoiceRow label {
    font-size: 15px;
    font-weight: bolder;
    /* text-align: left; */
}
.invoiceRow{
    /* overflow: scroll; */
    /* overflow: hidden; */
    padding: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: top;
    align-items: center;
    margin: 10px;
    max-width: 100%;
}
.invoiceRow input {
    font-size: 12px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid black;
    max-width: 80%;
    /* overflow: scroll; */
}
.addButton {
    background: #063146;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 15px;
    color: white;
    cursor: pointer;
}

.profile-table{
    margin-top: 20px;
    padding: 35px;
}
.profile-table td {
    text-align: left;
    padding: 10px 10px;
    border: 1px solid #0346680c;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  /* width: 100%;
   */
  /* display: grid; */
}
.clientForm{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* width: 50%; */
  height: 100%;
  margin: 20px auto;
}
.clientForm label {
  font-size: 13px;
  font-weight: bolder;
  color: #313131;
  width: 100px;
  margin: 0 auto;
}
.switch-label {
  background: none  !important;
  padding: 0 !important;
  margin: 0 auto !important;
}
.clientForm input {
  /* width: 30%; */
  margin: 15px auto;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #cccccc;
  text-align: center;
}
.clientForm .switch{
  margin: 0 auto;
  width: 50px;
}
/* #customers tr th {
  width: 150px;
  overflow: hidden;
} */

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers td {
  font-size: 15px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

/* #customers tr:hover {background-color: #ddd;} */

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #006D8A;
  color: white;
  width: 100px;
  text-transform: uppercase;
  font-size: 11px;
}
.deleteButton{
  cursor: pointer;
  font-weight: bolder;
  font-size: 10px;
  text-transform: uppercase;
  padding: 10px;
  /* border-radius: 10px; */
  background: rgb(218, 27, 27);
  color: white;
  margin: 3px;
}
.payButton{
  cursor: pointer;
  font-weight: bolder;
  font-size: 10px;
  text-transform: uppercase;
  padding: 10px;
  /* border-radius: 10px; */
  background: rgb(27, 218, 75);
  color: #313131;
  margin: 3px;
}

.printButton{
   cursor: pointer;
  font-weight: bolder;
  font-size: 10px;
  text-transform: uppercase;
  padding: 10px;
  /* border-radius: 10px; */
  background: rgb(240, 237, 64);
  /* color: white; */
  margin: 3px;
}

.boldrsd {
  font-weight: bolder;
  font-size: 12px;
}

/* .pdvCheckbox{

} */

.switch {
  margin-top: 10px;
  position: relative;
  display: inline-block;
}
.switch-input {
  display: none;
}
.switch-label {
  display: block;
  width: 48px;
  height: 24px;
  text-indent: -150%;
  clip: rect(0 0 0 0);
  color: transparent;
  user-select: none;
}
.switch-label::before,
.switch-label::after {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
}
.switch-label::before {
  width: 100%;
  height: 100%;
  background-color: #dedede;
  border-radius: 9999em;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}
.switch-label::after {
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
  -webkit-transition: left 0.25s ease;
  transition: left 0.25s ease;
}
.switch-input:checked + .switch-label::before {
  background-color: #89c12d;
}
.switch-input:checked + .switch-label::after {
  left: 24px;
}


.companySearch{
  border: 1px solid black;
  position: absolute;
  top: 99%;
  left: 0;
  width: 100%;
  background: rgb(245, 245, 245);
  z-index: 2000;
}
.companySearch p {
  font-size: 13px;
  text-align: left;
  padding: 5px;
  cursor: pointer;
}
.companySearch p:hover{
  background: lightgray;
}
.inputSearch {
  /* display: block; */
  position: relative;
}
 input:focus{
    outline: none;
}
.payed{
  background: #04aa6d !important;
  color: white;
}
.addBtn{
    margin-left: 10px;
    padding: 15px;
    font-weight: bolder;
    background: #26BC90;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    width: 20%;
    margin: 0 auto;
    margin-top: 30px;
    cursor: pointer;
    transition: all .2s ease;
}
.addBtn:hover{
    background:#135c46 ;
}
</style>
