<template>
  <div class="login">
        <div class="logo">
            <img src="./../assets/SIMTRANS.png" alt="">
        </div>
        <div class="">
            <form class="login-form">
                <label for="username">Korisničko ime</label>
                <input type="name" name="username" id="username" v-model="username">
                <label for="password">Šifra</label>
                <input type="password" name="password" id="password" v-model="password">
                <!-- <label for="checkbox"><i class="fa fa-eye" aria-hidden="true"></i></label>
                <input type="checkbox" @click="showPassword()" class="showPass"> -->
                <p class="error-msg">Pogrešna šifra</p>
                <!-- {{jwt}} -->
                <button @click="login($event, username, password)" type="submit" class="login-button">Uloguj se</button>
            </form>
        </div>
  </div>
</template>

<script>
// import { use } from 'vue/types/umd';
// import { use } from 'vue/types/umd';
import store from '../store/index.js';
import axios from 'axios';

export default {
  store,
  name: 'Login',
  data() {
    return {
        username: '',
        password: '',
        jwt: '',
    }
  },
  components: {
  },
  methods: {
   async login(event, username, password){
        event.preventDefault();
        try {
            const login = await axios.post('https://strapi-simtrans.herokuapp.com/auth/local', {
            identifier: username,
            password: password,
        }).then(response =>{
            this.jwt = response.data.jwt;
            localStorage.setItem("jwt", response.data.jwt);
            console.log(response, login)
            location.reload();
        })
        } catch (e) {
            console.log(e);
        }
   }
  },
  beforeMount: function (){
      if(localStorage.getItem("jwt") != null){
          this.jwt = localStorage.getItem("jwt");
      }
  },
}
</script>

<style scoped>
.logo img{
    width: 100%;
    display: block;
    max-width: 450px;
    margin: 20px auto;

}
.login{
    width: 100%;
}
.login-form{
    display: flex;
    padding: 20px;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* width: 100%; */
}
.login-form input, label {
    /* width: 50%; */
    width: 300px;
    padding: 10px;
    margin: 0 auto;

    text-align: center;
}
.login-form label {
    margin: 0 auto;
    font-size: 20px;
    font-weight: bolder;
}
.login-form input {
    font-size: 15px;
    font-weight: bold;
    border:none;
    border-bottom: 1px solid;
}
.login-form input:focus{
    outline: none;
    border-bottom: 2px solid #211d49;
}
.login-button {
    padding: 10px 25px; 
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    align-self: center;
    display: block;
    margin-top: 20px;
    font-size: 15px;
    cursor: pointer;
    background-color: #034668;
    color: white;
    transition: all 0.3s ease-out;
}
.login-button:hover{
    background-color: #41B883;
}
.error-msg{
    font-size: 15px;
    padding: 10px;
    font-weight: bolder;
    color: red;
    display: none;
}
</style>
