<template>
  <div class="">
     <h1>Nalozi</h1>
     <!-- <button>1</button> -->
     <!-- {{tasks}} -->
        <table class="content-table" ref="table"> 
        <!-- <h1>{{componentKey}}</h1> -->
        <thead>
          <tr>
            <td class="pick"><th class="pick"></th></td>
            <td><th>Datum</th></td>
            <td><th>Relacija od</th></td>
            <td><th>Firma</th></td>
            <td><th>Relacija do</th></td>
            <td><th>Fakturistai na</th></td>
            <td><th>Vozač</th></td>
            <td><th>Tip</th></td>
            <td><th></th></td>
            <td><th>Nalog</th></td>
            <td><th>Broj naloga</th></td>
            <td><th>Cena (EUR)</th></td>
            <td><th>Prazan na</th></td>
            <td><th>Naša faktura</th></td>
            <td><th>Opcije</th></td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="task in tasks" :key="task.id" v-bind:class="{ done: task.Done,returned:task.Returned}">

            <td v-if="task.Done"><input type="checkbox" name="" id="" class="pick"></td>
            <td v-else></td>
            <td>
              <input class="tableInput" type="text" v-model="task.TaskDate">
            </td>
            <td>
              <input class="tableInput" type="text" v-model="task.TaskFrom">
            </td>
            <td>
              <input class="tableInput" type="text" v-model="task.TaskCompany">
            </td>
            <td>
              <input class="tableInput" type="text" v-model="task.TaskTo">
            </td>
            <td>
              <input class="tableInput" type="text" v-model="task.TaskInvoice">
            </td>
            <!-- <td>{{task.Done}}</td> -->
            <td>
              <span v-if="task.driver">
                {{task.driver.Name}}
              </span>
            </td>
            <td>
              <select v-model="task.Type" name="Kompanija">   
              <!-- <option value=""></option>          -->
              <option v-for="type in typeOptions" :key="type">
                <template v-if="task.Truck">
                  <td>
                    <input class="tableInput" type="text" v-model="task.Truck">
                  </td>
                </template>
                {{ type }}
              </option>
            </select>
            </td>
            <template v-if="task.Truck">
              <td>
                <input class="tableInput" type="text" v-model="task.Truck">
              </td>
            </template>
             <template v-if="task.Container">
              <td>
                <input class="tableInput" type="text" v-model="task.Container">
              </td>
            </template>
             <template v-if="task.Trailer">
              <td>
                <input class="tableInput" type="text" v-model="task.Trailer">
              </td>
            </template>
             <template v-if="task.Other">
              <td>
                <input class="tableInput" type="text" v-model="task.Other">
              </td>
            </template>
            <!-- <td>
              <input class="tableInput" type="text" v-model="task.TaskInvoice">
            </td> -->
            <td>
              <input class="tableInput" type="text" v-model="task.Order">
            </td>
            <td>
              <input class="tableInput" type="text" v-model="task.OrderNumber">
            </td>
           
            <td>
              <input class="tableInput" type="text" v-model="task.Price">
            </td>
            <td>
              <input class="tableInput" type="text" v-model="task.EmptyLocation">
            </td>
            <td>
              <input class="tableInput" type="text" v-model="task.Invoice">
            </td>
            
            <td>
              <!-- <button>add</button> -->
              <div class="OptionButtons">
                <div v-if="task.Done">
                  <button class="PDFbtn" @click="show()"><i class="fa fa-file-pdf-o" id="PDFbtn" aria-hidden="true"></i></button>
                </div>
                <button class="btnBack" @click="ReturnTask(task);"><i class="fa fa-arrow-circle-o-left" id="btnBack" aria-hidden="true"></i></button>
              </div>

              <!-- <button>finished</button> -->
            </td>
          </tr>
        </tbody>
      </table>
        <modal name="newInvoice"  height="auto" class="modal"> 
          
        
          <template v-if="this.invoiceType === 'RSD'">
            <template v-if="this.invoiceTypeRSD">
              <h3>Uvoz ili izvoz dinarske fakture bez PDV-a</h3>
              <button @click="hide()" class="buttonModal">Uvoz</button>
              <button class="buttonModal" @click="hide()">Izvoz</button>
            </template>
            <template v-else>
              <h3>Izaberi vrstu dianrske fakture</h3>
              <button class="buttonModal" @click="invoiceTypeRSD = true">Bez PDV-a</button>
              <button class="buttonModal" @click="hide()" >Sa PDV-om</button>
            </template>
          </template>
          <template v-else>
            <h3>Izaberi vrstu fakture</h3>
            <button class="buttonModal rsd" @click="chooseInvoiceType('RSD')">Dinarska faktura</button>
            <button class="buttonModal" @click="hide()">Devizna faktura</button>
          </template>
          
        </modal>
        <div class="testing">
          <table border="1" ref="exportable_table">
    <tbody >
      <tr>
        <td>Row 1 - Column 1</td>
        <td> <img src="./../assets/invoiceheader.png" alt=""> </td>
        <td>Row 1 - Column 2</td>
        <td>Row 1 - Column 3</td>
      </tr>
      <tr>
        <td>Row 2 - Column 1</td>
        <td>Row 2 - Column 2</td>
        <td>Row 2 - Column 3</td>
      </tr>
      <tr>
        <td>Row 3 - Column 1</td>
        <td>Row 3 - Column 2</td>
        <td>Row 3 - Column 3</td>
      </tr>
    </tbody>
  </table>
  <input type="text" v-model="name">
  <button @click="ExportExcel('xls')">Export table to excel xls</button>
  <button @click="ExportExcel('xlsx')">Export table to excel xlsx</button>
        </div>

  </div>
</template>

<script>

import axios from 'axios';
import jsPDF from 'jspdf';
import 'jspdf-autotable'
// import XLSX from 'xlsx';
const ExcelJS = require('exceljs');
import { saveAs } from 'file-saver'


export default {
  name: 'Orders',
  data() {
    return {
        typeOptions: [
            'Kamion',
            'Prikolica',
            'Kontejner',
            'Ostalo'
          ],
          Type: '',
        tasks:[],
        pdf:{
          heading: "FAKTURA BROJ",
          company: "Milsped",
          text: "Lorem ipsum",
          items: [
            { title: "Item 1", body: "I am item 1 body text" },
            { title: "Item 2", body: "I am item 2 body text" },
            { title: "Item 3", body: "I am item 3 body text" },
            { title: "Item 4", body: "I am item 4 body text" }
          ],
        },
        name:'',
        invoiceType:'',
        invoiceTypeRSD: false
    }
  },
  methods: {
      async ExportExcel() {
        const wb = new ExcelJS.Workbook()

        const ws = wb.addWorksheet()

        const row = ws.addRow(['a', 'b', 'c'])
        row.font = { bold: true }

        const buf = await wb.xlsx.writeBuffer()

        saveAs(new Blob([buf]), 'abc.xlsx')
      },
      async callApi(){
       try {
         const resTasks = await axios.get('https://strapi-simtrans.herokuapp.com/daily-tasks?Forwarded=true');
         this.tasks = resTasks.data;
       } catch (e) {
         console.log(e);
       }
      },
      show () {
        this.invoiceType = '';
        this.$modal.show('newInvoice');
        this.invoiceTypeRSD = false;
      },
      hide () {
        this.$modal.hide('newInvoice');
        this.invoiceType = '';
        this.invoiceTypeRSD = false;
      },
      chooseInvoiceType(t) {
        this.invoiceType = t;
      },
      generatePDF(date){
        this.pdf.heading = "Faktura " + date;
        const columns = [
          { title: "Title", dataKey: "title" },
          { title: "Body", dataKey: "body" }
        ];
        const doc = new jsPDF({
          orientation: "portrait",
          unit: "in",
          format: "letter"
        });
        // text is placed using x, y coordinates
        doc.setFontSize(16).text(this.pdf.heading, 0.5, 1.0);
        // create a line under heading 
        doc.setLineWidth(0.01).line(0.5, 1.1, 8.0, 1.1);
        // Using autoTable plugin
        doc.autoTable({
          columns,
          body: this.pdf.items,
          margin: { left: 0.5, top: 1.25 }
        });
        // Using array of sentences
        doc
          .setFont("helvetica")
          .setFontSize(12)
          .text(this.pdf.text, 0.5, 3.5, { align: "left", maxWidth: "7.5" });
        
        // Creating footer and saving file
        doc
          .setFont("times")
          .setFontSize(11)
          .setTextColor(0, 0, 255)
          .text(
            "This is a simple footer located .5 inches from page bottom",
            0.5,
            doc.internal.pageSize.height - 0.5
          )
          .save(`${this.pdf.heading}.pdf`);
      },
      async ReturnTask(task){
        //  <td>
        //       <input class="tableInput" type="text" v-model="task.Order">
        //     </td>
        //     <td>
        //       <input class="tableInput" type="text" v-model="task.OrderNumber">
        //     </td>
           
        //     <td>
        //       <input class="tableInput" type="text" v-model="task.Price">
        //     </td>
        //     <td>
        //       <input class="tableInput" type="text" v-model="task.EmptyLocation">
        //     </td>
        //     <td>
        //       <input class="tableInput" type="text" v-model="task.Invoice">
        //     </td>

        //  event.preventDefault();
        try{
          const returnTask = await axios.put('https://strapi-simtrans.herokuapp.com/daily-tasks/' + task.id, {
            'TaskDate': task.TaskDate,  
            'TaskFrom': task.TaskFrom,
            'TaskCompany': task.TaskCompany, 
            'TaskTo' : task.TaskTo,
            'TaskInvoice': task.TaskInvoice,
            'TaskNote': task.TaskNote,
            'driver': task.driver,
            'Truck': task.Truck,
            'Container': task.Container,
            'Trailer': task.Trailer,
            'Other': task.Other,
            'Type' : task.Type,
            'Returned': true,
            'Order': task.Order,
            'OrderNumber': task.OrderNumber,
            'Price': task.Price,
            'EmptyLocation': task.EmptyLocation,
            'Invoice': task.Invoice
            // 'Forwarded': false
          }).then(response =>{
            console.log(response, returnTask);
              // this.newDriverName = '';
              this.callApi();
          });
        }catch (e) {
          console.log(e);
        }
        this.edit = !this.edit;
      }
    },
  computed:{

  },
  beforeMount: function (){
    this.callApi();
  },
  watch: {
    tasks: function(){
      console.log("task changed")
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* head css */
.content-table{
  border-collapse: collapse;
  margin: 25px auto;
  /* font-size: 1.2em; */
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  width: 100%;
  /* max-width: 75vw; */
  text-align: center;
}
.content-table thead tr {
  background: #034668;
  color: white;
  font-weight: bold;
}
.content-table thead tr td th{
  /* background: red; */
  width: 100%;
  display: block;
  text-align: center;
  font-size: 20px;
  padding: 17px 7px;

  font-size: 1em;
  /* border-right: 1px solid white; */
}
.content-table td {
  /* padding: 10px; */
  text-align: center;
  border-collapse: collapse;
}
.content-table tbody tr {
  border-bottom: 1px solid #ddd;
}
.content-table tbody tr:nth-of-type(even){
  background: #f3f3f3;
}
.content-table tbody tr:last-of-type{
  border-bottom: 2px solid #034668;
}
.content-table input {
  border: none;
  padding: 0px 4px;
  min-height: 25px;
  font-size: 14px;
  margin: 2px;
  /* max-width: 60px; */
}
.content-table select {
  min-height: 25px;
  padding: 2px 0px;
}


button{
  border: none;
  border-radius: 5px;
  margin: 5px;
}
.btnBack{
  background: rgb(110, 110, 110);
}
.PDFbtn{
  background: yellowgreen;
}
#btnBack{
  cursor: pointer;
  font-size: 20px;
  color: white;
  padding: 10px;
}
#PDFbtn{
    cursor: pointer;
  font-size: 20px;
  color: white;
  padding: 10px;
}
/* input table */
.tableInput{
    min-height: 20px;
    max-width: 100px;
    font-size: 15px;
}
.returned{
  background: #f0ac4e41 !important;
  color: black;
}
.done{
  background: #5cb85c83 !important;
}
.OptionButtons{
  display: flex;
  justify-content: center;
}
.pick{ 
  width: 50px;
}
.modal{
  /* background: rgba(206, 206, 206, 0.15); */
  height: auto;
  /* border-radius: 50%; */
}
.modal h3{
  margin: 25px auto;
}
.buttonModal{
  cursor: pointer;
  padding: 10px 20px;
  margin-bottom: 25px;
  font-weight: bolder;
  font-size: 20px;
}
.rsd {
  /* background: rgb(230, 230, 230); */
}
</style>
