<template>
  <div class="">
      <h2>Dodaj novu dnevnicu za {{driverProfile.Name}}</h2>
      <button @click="switchForeignF(false)" class="switchForeign">Dinarske</button>
      <button @click="switchForeignF(true)" class="switchForeign">Devizne</button>

      <div v-if="switchForeign">
      <h2>Dodaj deviznu dnevnicu</h2>
      <table class="content-table foreign" ref="table"> 
              <!-- <h1>{{componentKey}}</h1> -->
              <thead>
                <tr>
                  <td><th>Dan odlaska</th></td>
                  <td><th>Vreme odlaska</th></td>
                  <td><th>Dan povratka</th></td>
                  <td><th>Vreme povratka</th></td>
                  <td><th>Broj putnog naloga</th></td>
                  <td><th>Opcije</th></td>       
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><input type="date" name="from" id="from" v-model="dateOfDepartureF"></td>
                  <td><vue-timepicker v-model="timeOfDepartureF"></vue-timepicker></td>
                  <td><input type="date" name="from" id="from" v-model="dateOfArrivalF"></td>
                  <td><vue-timepicker v-model="timeOfArrivalF"></vue-timepicker></td>
                  <td><input type="string" name="tripNumber" id="tripNumber" v-model="tripNumberF"></td>
                  <td class="buttons"><button @click="calculateFPerdiem()" class="calculate">Proveri</button><button @click="addFPerdiem()" class="calculate">Dodaj</button></td>
                </tr>
              </tbody>
            </table>
              <div>
                  <h3>SPECIFIKACIJA DEVIZNIH TROŠKOVA ZA SLUŽBENI PUT U {{country}} OD {{dateOfDepartureF}} do {{dateOfArrivalF}} </h3>
                  <div class="aditionalExpences">
                    <div class="expence">
                      <label for="">Datum</label>
                      <input type="date" name="" id="" v-model="additionalExpense.Date">
                    </div>
                    <div class="expence">
                      <label for="">Iznos u RON</label>
                      <input type="text" name="" id="" v-model="additionalExpense.Amount">
                    </div>
                    <div class="expence">
                      <label for="">Iznos u RSD</label>
                      <input type="text" name="" id="">
                    </div>
                    <div class="expence">
                      <label for="">Iznos u EUR</label>
                      <input type="text" name="" id="">
                    </div>
                    <div class="expence">
                      <label for="">Firma</label>
                      <input type="text" name="" id="" v-model="additionalExpense.Company">
                    </div>
                    <div class="expence">
                      <label for="">Svrha uplate</label>
                      <input type="text" name="" id="" v-model="additionalExpense.Description">
                    </div>
                    <div class="expence">
                      <button @click="addExpence(perdiemFs[0].id)">Dodaj</button>
                    </div>
                  </div>
              </div>

            <!-- <h1>Devizne dnevnice</h1> -->
            <table class="content-table" ref="table">
              <tbody>
                <tr>
                <td><h3>Broj časova: {{numberOfHoursF}}</h3></td>
                <td><h3>Broj dnevnica: {{numberOfPerdiemF}}</h3> </td>
                <td><h3>Po EUR: {{amountOfPerdiemF}}</h3></td>
                <td><h3>Svega EUR: {{amountToPayF}}</h3></td>
                <td><h3>Broj putnog naloga {{tripNumberF}}</h3></td>
                </tr>
              </tbody>    
            </table>

            <table class="content-table foreign" ref="table"> 
              <!-- <h1>{{componentKey}}</h1> -->
              <thead>
                <tr>
                  <td><th>Dan odlaska</th></td>
                  <td><th>Vreme odlaska</th></td>
                  <td><th>Dan povratka</th></td>
                  <td><th>Vreme povratka</th></td>
                  <td><th>Broj časova</th></td>
                  <td><th>Broj dnevnica</th></td>
                  <td><th>Po EUR</th></td>
                  <td><th>Svega EUR</th></td>
                  <td><th>Broj putnog naloga</th></td>
                  <td><th>Opcije</th></td>           
                </tr>
              </thead>
              <tbody>
                <tr v-for="perdiem in perdiemFs" :key="perdiem.id">
                  <td>{{perdiem.DateOfDeparture}}</td>
                  <td>{{perdiem.TimeOfDeparture}}</td>
                  <td>{{perdiem.DateOfArrival}}</td>
                  <td>{{perdiem.TimeOfArrival}}</td>
                  <td>{{perdiem.numberOfHours}}</td>
                  <td>{{perdiem.numberOfPerdiem}}</td>
                  <td>{{perdiem.amountOfPerdiem}} EUR</td>
                  <td>{{perdiem.amountToPay}}</td>
                  <td>{{perdiem.tripNumber}}</td>
                  <td><button @click="deletePerdiemF(perdiem.id)" class="delete">X</button></td>
                <!-- {{perdiem.AdditionalExpense}} -->
                </tr>
                  <!-- <h3>SPECIFIKACIJA DEVIZNIH TROŠKOVA ZA SLUŽBENI PUT U OD do</h3> -->
                  <tr class="exp">
                    <td><th></th></td>
                    <td><th></th></td>
                    <td><th>Dodatni troškovi:</th></td>
                    <td><th>Datum</th></td>
                    <td><th>Iznos u EUR</th></td>
                    <td><th>Firma</th></td>
                    <td><th>Svrha uplate</th></td>
                    <td><th></th></td>
                    <td><th></th></td>
                    <td><th></th></td>      
                  </tr>
                  <template v-if="perdiemFs[0]">
                    <tr v-for="expence in perdiemFs[0].AdditionalExpense" :key="expence.id">
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>{{expence.Date}}</td>
                      <td>{{expence.Amount}}</td>
                      <td>{{expence.Company}}</td>
                      <td>{{expence.Description}}</td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </template>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><th>Ukupno dnevnica</th></td>
                  <td>{{totalPerdiemF}}</td>
                  <td><th>Ukupno za naplatu</th></td>
                  <td>{{totalToPayF}} EUR</td>
                  <td></td>
                  <td></td>    
                </tr>
              </tbody>
            </table>  
      </div>
      <div v-else>
      <h2>Dodaj dinarsku dnevnicu</h2>
      <table class="content-table" ref="table"> 
              <!-- <h1>{{componentKey}}</h1> -->
              <thead>
                <tr>
                  <td><th>Dan odlaska</th></td>
                  <td><th>Vreme odlaska</th></td>
                  <td><th>Dan povratka</th></td>
                  <td><th>Vreme povratka</th></td>
                  <td><th>Broj putnog naloga</th></td>
                  <td><th>Opcije</th></td>           
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><input type="date" name="from" id="from" v-model="dateOfDeparture"></td>
                  <td><vue-timepicker v-model="timeOfDeparture"></vue-timepicker></td>
                  <td><input type="date" name="from" id="from" v-model="dateOfArrival"></td>
                  <td><vue-timepicker v-model="timeOfArrival"></vue-timepicker></td>
                  <td><input type="string" name="tripNumber" id="tripNumber" v-model="tripNumber"></td>
                  <td class="buttons"><button @click="calculatePerdiem()" class="calculate">Proveri</button><button @click="addPerdiem()" class="calculate">Dodaj</button></td>
                </tr>
              </tbody>
            </table>

            <!-- <h1>Dinarske dnevnice</h1> -->
            <table class="content-table" ref="table">
              <tbody>
                <tr>
                <td><h3>Broj časova: {{numberOfHours}}</h3></td>
                <td><h3>Broj dnevnica: {{numberOfPerdiem}}</h3> </td>
                <td><h3>Po dinara: {{amountOfPerdiem}}</h3></td>
                <td><h3>Svega dianra: {{amountToPay}}</h3></td>
                <td><h3>Broj putnog naloga {{tripNumber}}</h3></td>
                </tr>
              </tbody>    
            </table>

            <table class="content-table" ref="table"> 
              <!-- <h1>{{componentKey}}</h1> -->
              <thead>
                <tr>
                  <td><th>Dan odlaska</th></td>
                  <td><th>Vreme odlaska</th></td>
                  <td><th>Dan povratka</th></td>
                  <td><th>Vreme povratka</th></td>
                  <td><th>Broj časova</th></td>
                  <td><th>Broj dnevnica</th></td>
                  <td><th>Po dinara</th></td>
                  <td><th>Svega dianra</th></td>
                  <td><th>Broj putnog naloga</th></td>
                  <td><th>Opcije</th></td>           
                </tr>
              </thead>
              <tbody>
                <tr v-for="perdiem in perdiems" :key="perdiem.id">
                  <td>{{perdiem.DateOfDeparture}}</td>
                  <td>{{perdiem.TimeOfDeparture}}</td>
                  <td>{{perdiem.DateOfArrival}}</td>
                  <td>{{perdiem.TimeOfArrival}}</td>
                  <td>{{perdiem.numberOfHours}}</td>
                  <td>{{perdiem.numberOfPerdiem}}</td>
                  <td>{{perdiem.amountOfPerdiem}} RSD</td>
                  <td>{{perdiem.amountToPay}}</td>
                  <td>{{perdiem.tripNumber}}</td>
                  <td><button @click="deletePerdiem(perdiem.id)" class="delete">X</button></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><th>Ukupno dnevnica</th></td>
                  <td>{{totalPerdiem}}</td>
                  <td><th></th></td>
                  <td>{{totalToPay}} RSD</td>
                  <td></td>
                  <td></td>    
                </tr>
              </tbody>
            </table>
      </div>
      
  </div>
</template>

<script>

import axios from 'axios';
import VueTimepicker from 'vue2-timepicker/src/vue-timepicker.vue'

// import Datepicker from 'vuejs-datepicker';

export default {
  name: 'Perdiem',
  components: {
    VueTimepicker
  },
  data() {
    return {
        switchForeign: false,
        perdiems: [],
        perdiemFs:[],
        driverProfile: '',
        timeOfArrival: '',
        dateOfArrival: '',
        timeOfDeparture: '',
        dateOfDeparture: '',
        numberOfHours: '',
        numberOfPerdiem: '',
        amountOfPerdiem: 2425.00,
        
        amountToPay: '',
        tripNumber: '',
        country: '',
        // foreign
        timeOfArrivalF: '',
        dateOfArrivalF: '',
        timeOfDepartureF: '',
        dateOfDepartureF: '',
        tripNumberF: '',
        numberOfHoursF: '',
        numberOfPerdiemF: '',
        amountOfPerdiemF: 30.00,
        amountToPayF: '',
        additionalExpense: {
          "Date": '',
          "Amount": '',
          "Company": '',
          "Description": ''
        }
        
    }
  },
  methods: {
    async callApi(){
    var $this = this;
    try {
      const resPerdiemF = await axios.get('https://strapi-simtrans.herokuapp.com/perdiem-fs?driver.id='+$this.$route.params.id);
      const resPerdiem = await axios.get('https://strapi-simtrans.herokuapp.com/perdiems?driver.id='+$this.$route.params.id);
      const resDriver = await axios.get('https://strapi-simtrans.herokuapp.com/drivers/' + $this.$route.params.id);
      this.driverId = $this.$route.params.id;
      
    //   const getdriverRides = await axios.get('https://strapi-simtrans.herokuapp.com/daily-tasks?driver.id='+$this.$route.params.id);
      // console.log(getdriverRides);
    //   this.driverRides = getdriverRides.data;
      this.driverProfile = resDriver.data;
      this.perdiems = resPerdiem.data;
      this.perdiemFs = resPerdiemF.data;
      console.log(this.perdiemFs)
    } catch (e) {
      console.log(e);
    }
   },
   async addClient(event){
     event.preventDefault();
     try{
       const newClient = await axios.post('https://strapi-simtrans.herokuapp.com/companies', {
         'Name': this.addNewClientName
       }).then(response =>{
         console.log(response, newClient);
          this.addNewClientName = '';
          this.callApi();
       });
     }catch (e) {
      console.log(e);
    }
    // console.log(this.newTask);
   },
   editProfile(){
     this.edit = !this.edit;
   },
   calculatePerdiem(){
       let date1 =  Date.parse(this.dateOfDeparture + "T" + this.timeOfDeparture);
       let date2 =  Date.parse(this.dateOfArrival + "T" + this.timeOfArrival);
       var hours = Math.abs(date1 - date2) / 36e5;
       let perdiem = hours/24;
       console.log(hours)
       this.numberOfHours = Math.floor(hours);
       perdiem = Math.ceil(perdiem*2)/2;
       console.log(perdiem);
       this.numberOfPerdiem = perdiem;
       this.amountToPay = this.numberOfPerdiem * this.amountOfPerdiem;  
   },
   calculateFPerdiem(){
       let date1 =  Date.parse(this.dateOfDepartureF + "T" + this.timeOfDepartureF);
       let date2 =  Date.parse(this.dateOfArrivalF + "T" + this.timeOfArrivalF);
       var hours = Math.abs(date1 - date2) / 36e5;
       let perdiem = hours/24;
       console.log(hours)
       this.numberOfHoursF = Math.floor(hours);
       perdiem = Math.ceil(perdiem*2)/2;
       console.log(perdiem);
       this.numberOfPerdiemF = perdiem;
       this.amountToPayF = parseInt( this.numberOfPerdiemF * this.amountOfPerdiemF);  
       console.log(this.amountToPayF);
   },
   async addPerdiem(){
     var $this = this;
     let date1 =  Date.parse(this.dateOfDeparture + "T" + this.timeOfDeparture);
     let date2 =  Date.parse(this.dateOfArrival + "T" + this.timeOfArrival);
     var hours = Math.abs(date1 - date2) / 36e5;
     let perdiem = hours/24;
     console.log(hours)
     this.numberOfHours = Math.floor(hours);
     perdiem = Math.ceil(perdiem*2)/2;
     console.log(perdiem);
     this.numberOfPerdiem = perdiem;
     this.amountToPay = this.numberOfPerdiem * this.amountOfPerdiem;  
     try{
       const newPerdiem = await axios.post('https://strapi-simtrans.herokuapp.com/perdiems', {
         'TimeOfDeparture': this.timeOfDeparture.toString(),
         'DateOfDeparture': this.dateOfDeparture.toString(),
         'TimeOfArrival' : this.timeOfArrival.toString(),
         'DateOfArrival' : this.dateOfArrival.toString(),
         'numberOfHours' : parseInt(this.numberOfHours),
         'numberOfPerdiem' : parseInt(this.numberOfPerdiem),
         'amountOfPerdiem' : parseInt(this.amountOfPerdiem),
         'amountToPay' : parseInt(this.amountToPay),
         'tripNumber' : this.tripNumber,
         'driver' : $this.$route.params.id
       }).then(response =>{
         console.log(response, newPerdiem);
        //   this.addNewClientName = '';
          this.callApi();
       });
     }catch (e) {
      console.log(e);
    }
   },
   async addFPerdiem(){
     var $this = this;
     let date1 =  Date.parse(this.dateOfDepartureF + "T" + this.timeOfDepartureF);
     let date2 =  Date.parse(this.dateOfArrivalF + "T" + this.timeOfArrivalF);
     var hours = Math.abs(date1 - date2) / 36e5;
     let perdiem = hours/24;
     console.log(hours)
     this.numberOfHoursF = Math.floor(hours);
     perdiem = Math.ceil(perdiem*2)/2;
     console.log(perdiem);
     this.numberOfPerdiemF = perdiem;
     this.amountToPay = this.numberOfPerdiemF * this.amountOfPerdiemF;  
     try{
       const newPerdiem = await axios.post('https://strapi-simtrans.herokuapp.com/perdiem-fs', {
         'TimeOfDeparture': this.timeOfDepartureF.toString(),
         'DateOfDeparture': this.dateOfDepartureF.toString(),
         'TimeOfArrival' : this.timeOfArrivalF.toString(),
         'DateOfArrival' : this.dateOfArrivalF.toString(),
         'numberOfHours' : parseInt(this.numberOfHoursF),
         'numberOfPerdiem' : parseInt(this.numberOfPerdiemF),
         'amountOfPerdiem' : parseInt(this.amountOfPerdiemF),
         'amountToPay' : parseInt(this.amountToPayF),
         'tripNumber' : this.tripNumberF,
         'driver' : $this.$route.params.id
       }).then(response =>{
         console.log(response, newPerdiem);
        //   this.addNewClientName = '';
          this.callApi();
       });
     }catch (e) {
      console.log(e);
    }
   },
   async deletePerdiem (id){
     var result = confirm("Da li ste sigurni da želite da obrišete ovu dnevnicu?");
     if(result){
       axios.delete('https://strapi-simtrans.herokuapp.com/perdiems/' + id)
       .then(() => {
          this.callApi();
          this.$store.dispatch('addNotification',{
            type: "delete",
            message: "Zadatak obrisan"
          })
        }, (error) => {
          console.log(error);
        })
     }
   },
     async deletePerdiemF (id){
     var result = confirm("Da li ste sigurni da želite da obrišete ovu dnevnicu?");
     if(result){
       axios.delete('https://strapi-simtrans.herokuapp.com/perdiem-fs/' + id)
       .then(() => {
          this.callApi();
          this.$store.dispatch('addNotification',{
            type: "delete",
            message: "Zadatak obrisan"
          })
        }, (error) => {
          console.log(error);
        })
     }
   },
   async addExpence (id){
      console.log(id);
      // var $this = this;
      var exp = [];
      if(this.perdiemFs[0]){
        exp = this.perdiemFs[0].AdditionalExpense;
      }
      exp.push(this.additionalExpense);
     try{
       const newPerdiem = await axios.put('https://strapi-simtrans.herokuapp.com/perdiem-fs/' + id, {
         "AdditionalExpense" : exp
       }).then(response =>{
         console.log(response, newPerdiem);
        //   this.addNewClientName = '';
          this.callApi();
       });
     }catch (e) {
      console.log(e);
     }
   },
   async updateDriverProfile(){
    //  event.preventDefault();
     try{
       const newDriver = await axios.put('https://strapi-simtrans.herokuapp.com/drivers/' + this.driverProfile.id, {
         'Name': this.driverProfile.Name,
         'PhoneNumber' : this.driverProfile.PhoneNumber,
         'Licence' : this.driverProfile.Licence
       }).then(response =>{
         console.log(response, newDriver);
          this.newDriverName = '';
          this.callApi();
       });
     }catch (e) {
      console.log(e);
    }
    this.edit = !this.edit;
   },
   switchForeignF(value){
     this.switchForeign = value;
   }
  },
  computed:{
      totalPerdiem: function(){
          let total = 0;
          for(let i=0;i<this.perdiems.length;i++){
              total+= parseInt(this.perdiems[i].numberOfPerdiem);
          }
          return total;
      },
      totalPerdiemF: function(){
          let total = 0;
          for(let i=0;i<this.perdiemFs.length;i++){
              total+= parseInt(this.perdiemFs[i].numberOfPerdiem);
          }
          return total;
      },
      totalToPay: function(){
          let total = 0;
          for(let i=0;i<this.perdiems.length;i++){
              total+= parseInt(this.perdiems[i].amountToPay);
          }
          return total;
      },
      totalToPayF: function(){
          let total = 0;
          for(let i=0;i<this.perdiemFs.length;i++){
              total+= parseInt(this.perdiemFs[i].amountToPay);
          }
          let exp = 0;  
          if(this.perdiemFs[0]){
              for(let i=0;i<this.perdiemFs[0].AdditionalExpense.length;i++){
                exp += parseInt(this.perdiemFs[0].AdditionalExpense[i].Amount);
                console.log(exp)
              }
          }
          total = parseInt(total + exp);
          console.log(total)
          return total;
      },
  },
  beforeMount: function (){
    this.callApi();
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* head css */
.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* flex-direction: column; */
    width: 50%;
    margin: 0 auto;
    grid-gap: 50px;
}
.category{
    min-height: 70px;
    display: flex;
    padding: 15px;
    border: 1px solid rgb(2, 1, 1);
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-weight: bolder;
    background: #006D8A;
    /* display: block; */
    color: white;
    text-decoration: none;
}


/* btnAdd */
button{
    border: none;
}
.addBtn{
    margin-left: 10px;
    padding: 15px;
    font-weight: bolder;
    background: #26BC90;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s ease;
}
.addBtn:hover{
    background:#135c46 ;
}
label{
    font-size: 20px;
}
input{
    line-height: 30px;
    font-size: 20px;
    margin-left: 10px;
    padding:  5px 10px;
}


.title{
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}


/* TABELA */
.content-table{
  border-collapse: collapse;
  margin: 25px auto;
  /* font-size: 1.2em; */
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  /* overflow: hidden; */
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  width: 100%;
  max-width: 55vw;
  text-align: center;
}
.content-table thead tr {
  background: #458db1;
  color: white;
  font-weight: bold;
}
.foreign thead tr {
  background: #063146;
  color: white;
  font-weight: bold;
}
.content-table thead tr td th{
  /* background: red; */
  width: 100%;
  display: block;
  text-align: center;
  font-size: 14px;
  padding: 7px 0;
}
.content-table td {
  padding: 12px 10px;
  text-align: center;
  font-size: 20px;
}
.content-table tbody tr {
  border-bottom: 1px solid #ddd;
}
.content-table tbody tr:nth-of-type(even){
  background: #f3f3f3;
}
.content-table tbody tr:last-of-type{
  border-bottom: 2px solid #034668;
}

.profile{
    width: 600px;
    margin: 0 auto;
    background: rgba(247, 242, 242, 0.383);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
}
.profile-head{
    padding: 20px;
    /* border: 1px solid black; */
    display: flex;
    background: #006c8a0c;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
}
.profile-head .image img{
    width: 100px;
}
.profile-name{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 20px;
}
.profile-name p {
    display: block;
    align-self: center;
    font-size: 25px;
    font-weight: bolder;
}
.profile-table{
    margin-top: 20px;
    padding: 35px;
}
.profile-table td {
    text-align: left;
    padding: 10px 10px;
    border: 1px solid #0346680c;
}
.calculate{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background: #042331;
    font-weight: bolder;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
h3{
    font-size: 14px;
}
.buttons{
    display: flex;
}
.switchForeign{
  padding: 20px;
  font-weight: bolder;
  margin: 10px;
  cursor: pointer;
}
.delete{
  background: red;
  padding: 10px;
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
}

.aditionalExpences{
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
}
.aditionalExpences input {
  font-size: 15px;
  padding: 0;
}
.aditionalExpences label {
  display: block;
  font-size: 15px;
  margin: 7px 0;
}

.expence{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.expence button {
  padding: 10px;
  font-size: 14px;
  font-weight: bolder;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 25px;
  align-self: flex-end;
  justify-self: flex-end;
}

.additionalexp{
  display: flex;
  width: 100%;
}
.exp{
  background: #0f577a !important;
  color: white !important;
}
.exp th{
  font-size: 15px;
}

</style>
