<template>
    <div>
        <h2>Podaci o dobavljaču {{driverProfile.Name}}</h2>
        <ul class="company-info">
          <li>
              Ime: <br> <span>{{driverProfile.Name}}</span>
          </li>
          <li>
              PIB: <br><span>{{driverProfile.PIB}}</span>
          </li>
          <li>
              Matični broj: <br> <span>{{driverProfile.Number}}</span>
          </li>
          <li>
              Adresa: <br><span>{{driverProfile.Address}}</span>
          </li>
          <li>
              Tekući račun: <br> <span>{{driverProfile.AccountNumber}}</span>
          </li>
        </ul>
        <h2>Fakture dobavljača {{driverProfile.Name}}</h2>
        <div class="supplierInvoices">

         <table class="profile-table" id="customers"> 
            <thead>
                <tr>
                    <th>Delovodni broj</th>
                    <th>Broj fakture</th>
                    <th>Datum</th>
                    <th>Iznos bez PDV-a</th>
                    <th>PDV</th>
                    <th>Ukupno sa pdv-om</th>
                    <th>Dobavljač</th>
                    <th>Opis</th>
                    <th>Kontejner/Kamion</th>
                    <th>Broj tekućeg računa</th>
                    <th>Poziv na broj</th>
                    <th>Valuta plaćanja</th>
                    <th>Plaćeno datuma</th>
                    <!-- <td><th>Od</th></td> -->
                </tr>
            </thead>
                <tbody>
                    <tr v-for="invoice in supplierInvoices" :key="invoice.id">
                        <td>{{invoice.DelovodniBroj}}</td>
                        <td>{{invoice.InvoiceNumber}}</td>
                        <td>{{invoice.Date}}</td>
                        <td>{{invoice.AmountWithoutPDV}} <span class="boldrsd">RSD</span></td>
                        <td>{{CalculatePDV(invoice.AmountWithoutPDV, invoice.PDV)}} <span class="boldrsd">RSD</span></td>
                        <td>{{TotalWithPDV(invoice.AmountWithoutPDV, invoice.PDV)}} <span class="boldrsd">RSD</span></td>
                        <td>{{invoice.Supplier}}</td>
                        <td>{{invoice.Description}}</td>
                        <td>{{invoice.TruckNumber}}</td>
                        <td>{{invoice.AccountNumber}}</td>
                        <td>{{invoice.ActionNumber}}</td>
                        <td>{{invoice.Currency}}</td>
                        <td>{{invoice.PaymentDate}}</td>
                    </tr>
                    <tr class="lastRow">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Ukupno</td>
                        <td>{{grandTotal}} <span class="boldrsd">RSD</span></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>

import axios from 'axios';

export default {
  name: 'DriverProfile',
  data() {
    return {
        edit: false,
        addNewClientName:'',
        driverProfile: {},
        driverRides: [],
        driverId: '',
        supplierInvoices: [],
        grandTotal: '',
    }
  },
  watch: {
    // whenever question changes, this function will run
    supplierInvoices: function () {
      let total = 0;
      for(var i=0; i<this.supplierInvoices.length; i++){
        total += parseFloat(this.TotalWithPDV(this.supplierInvoices[i].AmountWithoutPDV, this.supplierInvoices[i].PDV));
        console.log(total)
      }
      console.log(total);
      this.grandTotal = total
    }
  },
  methods: {
    async callApi(){
    var $this = this;
    try {
      const resDriver = await axios.get('https://strapi-simtrans.herokuapp.com/suppliers/' + $this.$route.params.id);
      const resInvoices = await axios.get('https://strapi-simtrans.herokuapp.com/invoices?supplier.id=' + $this.$route.params.id);
      console.log("https://strapi-simtrans.herokuapp.com/invoices?supplier.id=' "+ $this.$route.params.id);
      this.supplierInvoices = resInvoices.data;
      this.driverProfile = resDriver.data;

    } catch (e) {
      console.log(e);
    }
   },
     CalculatePDV(amount, pdv){
     let pdvAmount = 0;
     if(pdv){
       pdvAmount = (parseFloat(amount).toFixed(2) * 0.2).toFixed(2);
     }
     return pdvAmount;
   },
   TotalWithPDV(amount, pdv){
     let totalWithPDV = amount;
     if(pdv){
       totalWithPDV = (parseFloat(amount).toFixed(2) * 1.2).toFixed(2);
     }
     return totalWithPDV;
   },
   async addClient(event){
     event.preventDefault();
     try{
       const newClient = await axios.post('https://strapi-simtrans.herokuapp.com/suppliers', {
         'Name': this.addNewClientName
       }).then(response =>{
         console.log(response, newClient);
          this.addNewClientName = '';
          this.callApi();
       });
     }catch (e) {
      console.log(e);
    }
    // console.log(this.newTask);
   },
   editProfile(){
     this.edit = !this.edit;
   },
   async updateDriverProfile(){
    //  event.preventDefault();
     try{
       const newDriver = await axios.put('https://strapi-simtrans.herokuapp.com/suppliers/' + this.driverProfile.id, {
         'Name': this.driverProfile.Name,
         'PhoneNumber' : this.driverProfile.PhoneNumber,
         'Licence' : this.driverProfile.Licence
       }).then(response =>{
         console.log(response, newDriver);
          this.newDriverName = '';
          this.callApi();
       });
     }catch (e) {
      console.log(e);
    }
    this.edit = !this.edit;
   }
  },
  computed:{

  },
  beforeMount: function (){
    this.callApi();
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* head css */
.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* flex-direction: column; */
    width: 50%;
    margin: 0 auto;
    grid-gap: 50px;
}
.category{
    min-height: 70px;
    display: flex;
    padding: 15px;
    border: 1px solid rgb(2, 1, 1);
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-weight: bolder;
    background: #006D8A;
    /* display: block; */
    color: white;
    text-decoration: none;
}


/* btnAdd */
button{
    border: none;
}
.addBtn{
    margin-left: 10px;
    padding: 15px;
    font-weight: bolder;
    background: #26BC90;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s ease;
}
.addBtn:hover{
    background:#135c46 ;
}
label{
    font-size: 20px;
}
input{
    line-height: 30px;
    font-size: 20px;
    margin-left: 10px;
    padding:  5px 10px;
}


.title{
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}


/* TABELA */
.content-table{
  border-collapse: collapse;
  margin: 25px auto;
  /* font-size: 1.2em; */
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  width: 100%;
  max-width: 55vw;
  text-align: center;
}
.content-table thead tr {
  background: #034668;
  color: white;
  font-weight: bold;
}
.content-table thead tr td th{
  /* background: red; */
  width: 100%;
  display: block;
  text-align: center;
  font-size: 20px;
  padding: 10px 0;
}
.content-table td {
  padding: 12px 10px;
  text-align: center;
  font-size: 20px;
}
.content-table tbody tr {
  border-bottom: 1px solid #ddd;
}
.content-table tbody tr:nth-of-type(even){
  background: #f3f3f3;
}
.content-table tbody tr:last-of-type{
  border-bottom: 2px solid #034668;
}

.profile{
    width: 600px;
    margin: 0 auto;
    background: rgba(247, 242, 242, 0.383);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
}
.profile-head{
    padding: 20px;
    /* border: 1px solid black; */
    display: flex;
    background: #006c8a0c;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
}
.profile-head .image img{
    width: 100px;
}
.profile-name{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 20px;
}
.profile-name p {
    display: block;
    align-self: center;
    font-size: 25px;
    font-weight: bolder;
}
.profile-table{
    margin-top: 20px;
    padding: 35px;
}
.profile-table td {
    text-align: left;
    padding: 10px 10px;
    border: 1px solid #0346680c;
}
h2{
    margin: 20px 0;
}
.company-info{
    display: flex;
    width: 60%;
    padding: 10px;
    margin: 20px auto;
    border-bottom: 1px solid black;
    justify-content: space-between  ;
}
.company-info li {
    /* border: 1px solid black; */
    padding: 10px;
    font-size: 17px;
    display: flex;
    flex-direction: column;
}
.company-info li span {
    font-size: 20px;
    font-weight: bolder;
}

.profile-table{
    margin-top: 20px;
    padding: 35px;
}
.profile-table td {
    text-align: left;
    padding: 10px 10px;
    border: 1px solid #0346680c;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  /* width: 100%;
   */
  /* display: grid; */
}

#customers tr th {
  /* width: 150px;
  overflow: hidden; */
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers td {
  font-size: 15px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

/* #customers tr:hover {background-color: #ddd;} */

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #006D8A;
  color: white;
  width: 100px;
  text-transform: uppercase;
  font-size: 11px;
}

.supplierInvoices {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.boldrsd {
  font-weight: bolder;
  font-size: 12px;
}
</style>
