<template>
  <div class="main">
    <!-- {{todaysDate}} -->
    <!-- {{filterDate}}  -->
  <!-- {{tasks}} -->
    <!-- {{todaysDate}} -->
    <!-- {{pickedDay}}   -->
      
      <div>
        <h1 class="secondTitle">Dodaj novi zadatak</h1>
        <div class="addnew">
          <div class="inputNewTask">
            <label for="Datum">Datum</label>
            <input type="date" v-model="newTask.TaskDate">
             <!-- <input type="date" name="TaskDate" v-model="newTask.TaskDate"> -->
          </div>
          <div class="inputNewTask">
            <label for="Datum">Relacija od</label>
            <input type="text" name="TaskFrom" v-model="newTask.TaskFrom">
          </div>
          <div class="inputNewTask" >
            <label for="Kompanija">Firma</label>
            <input type="text" v-model="companySearch" @input="companySearchBool()">
            <div class="companySearch" v-if="companySearching" > 
              <p @click="setCompany(company.id, company.Name)" v-for="company in filteredCompanies" :key="company.id">
                {{ company.Name }}
              </p>
              <p class="addNewCompany" @click="show()" >Dodaj novu firmu</p>
          </div>

             <modal name="newClient"  height="auto" class="modal"> 
              <form action="" class="clientForm">
                  <label for="Name">Ime</label>
                  <input type="text" name="Name" v-model="newClient.Name">
                  
                  <label for="Name">PIB</label>
                  <input type="text" name="PIB" v-model="newClient.PIB">
                  
                  <label for="Name">Maticni broj</label>
                  <input type="text" name="Number" v-model="newClient.Number">
                  
                  <label for="Name">Adresa</label>
                  <input type="text" name="Address" v-model="newClient.Address">
                  
                  <label for="Name">Tekući račun</label>
                  <input type="text" name="AccountNumber" v-model="newClient.AccountNumber">

                  <button @click="addClient($event)" class="modalButton">DODAJ</button>
              </form>
            </modal>
            <!-- <div v-else>
              <input type="text" v-model="companySearch">
            </div> -->
            <!-- <span>Selected: {{ drivers }}</span> -->
          </div>
          <div class="inputNewTask">
            <label for="Datum">Relacija do</label>
            <input type="text" name="TaskTo" v-model="newTask.TaskTo">
          </div>
          <div class="inputNewTask">
            <label for="Datum">Klijent</label>
            <input type="text" name="TaskInvoice" v-model="newTask.TaskInvoice">
          </div>
          <div class="inputNewTask">
            <label for="VOZAC">Vozač</label>
            <select v-model="newTask.driver" style="padding:7px" name="VOZAC">   
              <!-- <option value=""></option>          -->
              <!-- <input type="text" v-bind="Search"> -->
              <option v-for="driver in drivers" :key="driver.id" v-bind:value="driver.id">
                {{ driver.Name }}
              </option>
            </select>
          </div>
          
          <div class="inputNewTask">
            <label for="TaskLicence">Tip</label>
              <select v-model="Type" style="padding:7px">   
              <!-- <option value=""></option>          -->
              <option v-for="type in typeOptions" :key="type">
                {{ type }}
              </option>
            </select>
          </div>
          <div class="inputNewTask">
            <label for="TaskLicence">. {{Type}}</label>
            <input type="text" name="TaskLicence" v-model="newTask.licence">
          </div>
          <div class="inputNewTask">
            <label for="TaskNote">Napomena</label>
            <input type="text-area" name="TaskNote" v-model="newTask.TaskNote">
          </div>
          <div class="inputNewTask">
            
            <button @click="addNewTask($event)" id="addNewTask"><i class="fa fa-plus"></i></button>
          </div>
        </div>
      </div>
      <h1 class="headtitle">Dnevni zadaci</h1>
<!-- DATE PICKER -->

      <div class="datepicker">
        <!-- <button @click="yesterdayF()" class="datePickerButton">Juče</button>
        <button @click="todayF()" class="datePickerButton">Danas</button>
        <div style="display:flex; flex-direction:column; margin: 0 20px">
          <label for="pickDay" style="font-size:15px; text-align:center">Izaberi datum</label>
          <date-picker name="pickDay" @change="pickedDayF()" class="mx-datepicker" v-model="pickDay" :default-show="defaultShow" format="D-MM-YYYY"  valueType="format"></date-picker>
        </div> -->

        <!-- {{pickDay}} -->

        <!-- <button  class="datePickerButton" @click="pickdayF()"> <input type="date" name="TaskDate" v-model="newTask.TaskDate"></button> -->
      </div>
      <!-- {{tasks}} -->
      
      <table class="content-table" ref="table"> 
        <!-- <h1>{{componentKey}}</h1> -->
        <thead>
          <tr>
            <td><th>Datum</th></td>
            <td><th>Relacija od</th></td>
            <td><th>Firma</th></td>
            <td><th>Relacija do</th></td>
            <td><th>Klijent</th></td>
            <td><th>Vozač</th></td>
            <td><th>Registracija</th></td>
            <td><th>Napomene</th></td>
            <td><th>Opcije</th></td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="task in tasks" :key="task.id" v-bind:class="{ done: task.Done, forwaded:task.Forwarded }">
            <td>{{task.TaskDate}}</td>
            <td>{{ task.TaskFrom }}</td>
            <td>{{task.TaskCompany}}</td>
            <td>{{ task.TaskTo }}</td>
            <td>{{task.TaskInvoice}}</td>
            <td>
              <span v-if="task.driver">
                {{task.driver.Name}}
              </span>
            </td>
            <td>{{task.Truck}}</td>
            <td>
              {{task.TaskNote}}
            </td>
            <td>
              <!-- <button>add</button> -->
              <button class="btnDelete" @click="deleteTask(task.id)"><i class="fa fa-trash" id="deleteBtn" aria-hidden="true"></i></button>
              <!-- <span v-if="!task.Done">
                <button class="btnCheck" @click="finishTask(task.id)"><i class="fa fa-check" id="checkBtn" aria-hidden="true"></i></button>
              </span>
              <span v-else>
                <button class="btnUndo" @click="undoTask(task.id)"><i class="fa fa-undo" id="btnUndo" aria-hidden="true"></i></button>
              </span> -->
              <button class="btnUndo" @click="forwardTask(task.id)"><i class="fa fa-arrow-right" id="btnUndo" aria-hidden="true"></i></button>


              <!-- <button>finished</button> -->
            </td>
          </tr>
        </tbody>
      </table>
      <h1 class="headtitle subheading">Vraćeni zadaci</h1>
      
      <div id="myDIV"> 
        <table class="content-table table2" ref="table"> 
          <!-- <h1>{{componentKey}}</h1> -->
          <thead>
            <tr>
            <td><th>Datum</th></td>
            <td><th>Relacija od</th></td>
            <td><th>Firma</th></td>
            <td><th>Relacija do</th></td>
            <td><th>Fakturistai na</th></td>
            <td><th>Vozač</th></td>
            <td><th>Napomene</th></td>
            <td><th>Tip</th></td>
            <td><th></th></td>
            <td><th>Nalog</th></td>
            <td><th>Broj naloga</th></td>
            <td><th>Cena (EUR)</th></td>
            <td><th>Prazan na</th></td>
            <td><th>Naša faktura</th></td>
            <td><th>Opcije</th></td>
              
            </tr>
          </thead>
          <tbody>
            <tr v-for="task in ReturnedTasks" :key="task.id" v-bind:class="{ done: task.Done }">
              <td>{{task.TaskDate}}</td>
              <td>{{ task.TaskFrom }}</td>
              <td>{{task.TaskCompany}}</td>
              <td>{{ task.TaskTo }}</td>
              <td>{{task.TaskInvoice}}</td>
              <!-- <td>{{task.Done}}</td> -->
              <td>
                <span v-if="task.driver">
                  {{task.driver.Name}}
                </span>
              </td>
              <td>
                {{task.TaskNote}}
              </td>
              <td>{{task.Type}}</td>
              <td>{{ task.Truck }}</td>
              <td>{{task.Order}}</td>
              <td>{{task.OrderNumber}}</td>
              <td>{{ task.Price }}</td>
              <td>{{task.EmptyLocation}}</td>
              <td>{{task.Invoice}}</td>
              <td>
                <!-- <button>add</button> -->
                <div class="buttons">
                  <button class="btnDelete" @click="deleteTask(task.id)"><i class="fa fa-trash" id="deleteBtn" aria-hidden="true"></i></button>
                  <span v-if="!task.Done">
                    <button class="btnCheck" @click="finishTask(task.id)"><i class="fa fa-check" id="checkBtn" aria-hidden="true"></i></button>
                  </span>
                  <span v-else>
                    <button class="btnUndo" @click="undoTask(task.id)"><i class="fa fa-undo" id="btnUndo" aria-hidden="true"></i></button>
                  </span>
                </div>
                <!-- <button class="btnUndo" @click="forwardTask(task.id)"><i class="fa fa-arrow-right" id="btnUndo" aria-hidden="true"></i></button> -->


                <!-- <button>finished</button> -->
              </td>
              <!-- {{task}} -->
              
            </tr>
            
          </tbody>
        </table>
      </div>
  </div>
</template>

<script>

import axios from 'axios';
// import DatePicker from 'vue2-datepicker';
import 'vue2-datepicker/index.css';

export default {
  name: 'Tasks',
  // components: {DatePicker},
  data() {
    return {
      defaultShow: true,
      today: new Date(),
      componentKey: 0,
      tasks: [],
      ForwardedTasks: [],
      ReturnedTasks: [],
      companySearch: '',
      companySearching: false,
      newTask: {
        TaskDate: '',
        TaskFrom: '',
        TaskCompany: '',
        TaskTo: '',
        TaskInvoice: '',
        driver: '',
        Truck:'',
        Container:'',
        Trailer:'',
        Other:'',
        TaskNote: '',
        licence: '',
        Order: '',
        OrderNumber: '',
        EmptyLocation: '',
      },
      newClient:{
          "Name":'',
          "PIB": '',
          "Address" : '',
          "Number" : '',
          "AccountNumber": '',
      },
      typeOptions: [
        'Kamion',
        'Prikolica',
        'Kontejner',
        'Ostalo'
      ],
      Type: '',
      pickDay: '',
      filterDate: '',
      drivers: [],
      companies:[],
    }
  },
  methods: {
   toggleDiv(div){
    var x = document.getElementById(div);
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
   },
   dateFormat(date){
     return date.toLocaleDateString("en-US")
   },
   show () {
      this.$modal.show('newClient');
   },
   hide () {
      this.$modal.hide('newClient');
   },
   yesterdayF(){
     var pickedDayOptions = {  day: 'numeric',month: 'numeric',year: 'numeric'};
     this.filterDate = new Date(new Date()-24*60*60*1000).toLocaleDateString('sr-RS', pickedDayOptions).toString();
     this.callApi()
   },
   todayF(){
     var pickedDayOptions = {  day: 'numeric',month: 'numeric',year: 'numeric'};
     this.filterDate = new Date().toLocaleDateString('sr-RS', pickedDayOptions).toString();
     this.callApi()
   },
   dayBefore(){
    //  var pickedDayOptions = {  day: 'numeric',month: 'numeric',year: 'numeric'};
    //  this.filterDate = (new Date()-24*60*60*1000).toLocaleDateString('sr-RS', pickedDayOptions).toString();
     this.callApi()
   },
   companySearchBool(){
     console.log(this.companySearch)
     if(this.companySearch != ''){
       this.companySearching = true
     } else {
       this.companySearching = false
     }
   },
   pickedDayF(){
     if(this.pickDay != null){
       this.filterDate = this.pickDay.toString().replaceAll("-",".") + ".";
       console.log(this.filterDate)
       this.callApi()
     }
   },
   finishTask(id){
     console.log(id)
     axios.put('https://strapi-simtrans.herokuapp.com/daily-tasks/' + id, {
       'Done' : true
     })
       .then(() => {
          this.callApi();
          // console.log(this.componentKey)
        }, (error) => {
          console.log(error);
        })
     
   },
   forwardTask(id){
      console.log("trying to forward task")
      axios.put('https://strapi-simtrans.herokuapp.com/daily-tasks/' + id, {
       'Forwarded': true
     })
       .then(() => {
          this.callApi();
          // console.log(this.componentKey)
        }, (error) => {
          console.log(error);
        })
   },
   undoTask(id){
     console.log(id)
     axios.put('https://strapi-simtrans.herokuapp.com/daily-tasks/' + id, {
       'Done' : false
     })
       .then(() => {
          this.callApi();
          // console.log(this.componentKey)
        }, (error) => {
          console.log(error);
        })
   },
   deleteTask(id){
     var result = confirm("Da li ste sigurni da želite da obrišete ovaj zadatak?");
     if(result){
       axios.delete('https://strapi-simtrans.herokuapp.com/daily-tasks/' + id)
       .then(() => {
          this.callApi();
          this.$store.dispatch('addNotification',{
            type: "delete",
            message: "Zadatak obrisan"
          })
        }, (error) => {
          console.log(error);
        })
     }
   },
     async addClient(event){
     event.preventDefault();
     this.hide();
     try{
       const newClient = await axios.post('https://strapi-simtrans.herokuapp.com/companies', {
         'Name': this.newClient.Name,
         'PIB': this.newClient.PIB,
         'Number':this.newClient.Number,
         'AccountNumber':this.newClient.AccountNumber,
         'Address':this.newClient.Address,
         
       }).then(response =>{
          console.log(response, newClient);
          this.newClient ={
            "Name":'',
            "PIB": '',
            "Address" : '',
            "Number" : '',
            "AccountNumber": '',
          };
          this.callApi();
       });
     }catch (e) {
      console.log(e);
    }
   },
   async addNewTask(event){
     event.preventDefault();
  
     try{
        if(this.Type == 'Kamion'){
          this.newTask.Truck = this.newTask.licence
        } else if (this.Type == 'Prikolica') {
          this.newTask.Trailer = this.newTask.licence
        } else if (this.Type == 'Kontejner') {
          this.newTask.Container = this.newTask.licence
        } else {
          this.newTask.Other = this.newTask.licence
        }
        console.log(this.Type)
       const addTask = await axios.post('https://strapi-simtrans.herokuapp.com/daily-tasks', {
         'TaskDate': this.pickedDay,  
         'TaskFrom': this.newTask.TaskFrom,
         'TaskCompany': this.newTask.TaskCompany, 
         'TaskTo' : this.newTask.TaskTo,
         'TaskInvoice': this.newTask.TaskInvoice,
         'TaskNote': this.newTask.TaskNote,
         'driver': this.newTask.driver,
         'Truck':this.newTask.Truck,
         'Container': this.newTask.Container,
         'Trailer': this.newTask.Trailer,
         'Other': this.newTask.Other,
         'Type' : this.Type,
       }).then(response =>{
         console.log(response, addTask);
          this.newTask = {};
          this.callApi();
          this.$store.dispatch('addNotification',{
            type: "success",
            message: "Dodat novi zadatak"
          })
       });
     }catch (e) {
      console.log(e);
    }
    // console.log(this.newTask);
   },
   async callApi(){
    try {
      const resReturnedTasks = await axios.get('https://strapi-simtrans.herokuapp.com/daily-tasks?Returned=true');
      // const resForwardedTasks = await axios.get('https://strapi-simtrans.herokuapp.com/daily-tasks?Forwarded=true');
      const resDrivers = await axios.get('https://strapi-simtrans.herokuapp.com/drivers');
      const resTasks = await axios.get('https://strapi-simtrans.herokuapp.com/daily-tasks?Returned=false');
      const resCompanies = await axios.get('https://strapi-simtrans.herokuapp.com/companies');
      // this.ForwardedTasks = resForwardedTasks.data;
      this.ReturnedTasks = resReturnedTasks.data;
      this.drivers = resDrivers.data;
      this.tasks = resTasks.data;
      this.companies = resCompanies.data;
    } catch (e) {
      console.log(e);
    }
      this.formatDates();
   },
   formatDates(){
    //  const options = {  day: 'numeric',month: 'numeric' };
     for(let i=0;i<this.tasks.length; i++){
       this.tasks[i].TaskDate = this.tasks[i].TaskDate.slice(0,-5);
      //  console.log(this.tasks[i].TaskDate =  new Date(this.tasks[i].TaskDate).toLocaleDateString('sr-RS', options))
     }
   },
   setCompany(id,name){
     this.companySearch = name;
     this.companySearching = false;
     this.newTask.TaskCompany = name;
     console.log(id);
   },
   alert(){
     alert("you cliecked")
   }
  },
  computed:{
    todaysDate: function () {
      var pickedDayOptions = {  day: 'numeric',month: 'numeric',year: 'numeric'};
      // console.log(this.today.toLocaleDateString('sr-RS', pickedDayOptions).toString())
      return this.today.toLocaleDateString('sr-RS', pickedDayOptions).toString();
    },
    pickedDay: function () {
      var pickedDate = '';
      if(this.newTask.TaskDate === ''){
        pickedDate = this.todaysDate.toString();
        console.log(pickedDate)
      } else {
        // const pickedDayOptions = {  day: 'numeric',month: 'numeric',year: 'numeric'};
        pickedDate = this.newTask.TaskDate.toString().replaceAll("-",".") + ".";
        // console.log('%c Oh my heavens! ', 'background: #222; color: #bada55'. pickedDate)
      }
      return pickedDate;
    },
    filteredCompanies(){
      return this.companies.filter(company => company.Name.toLowerCase().includes(this.companySearch.toLowerCase()))
    },
  },
  beforeMount: function (){
    if(this.filterDate === ''){
      console.log(this.todaysDate.toString());
      this.filterDate = this.todaysDate.toString();
    }
    this.callApi();
  },
  watch: {
    tasks: function(){
      console.log("task changed")
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.main{
  width: 90%;
  margin: 0 auto;
  /* border: 1px solid; */
}
/* head css */
.headtitle{
  /* background: #034668; */
  /* text-transform:uppercase; */
  font-size: 22px;
  color: #034668;  
  border-radius: 5px;
  width: 100%;
  margin: 4 0px auto 0px;
  padding: 20px 10px;
  text-align: left;
}

.secondTitle {
  text-align: left;
  font-size: 17px;
  padding-bottom: 10px;
}

.addnew {
  border: 1px solid lightgray;
  background: rgba(176, 196, 222, 0.048);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.2fr 1fr 0.5fr;
  /* margin-top: 5px; */
  /* max-width: 85%; */
  margin: 10px auto;
  /* width: 83%; */
  margin-bottom: 50px;
  align-content: center;
  justify-content: center;
  /* overflow: w; */
  /* overflow: scroll; */
  
}
.inputNewTask label{
  align-self: start;
  text-align: left;
  margin-bottom: 7px;
  font-weight: bolder;
}
.inputNewTask {
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  position: relative;
  /* border: 1px solid rgba(1, 1, 1, .1); */
  /* padding: 10px; */
  margin: 10px;
  min-height: 30px;
  /* min-width: 100px; */
  /* display: flex;
  flex-direction:column; */
}
.inputNewTask input {
  padding: 5px;
  min-height: 20px;
  font-size: 12px;
}
.inputNewTask select {
  /* padding: 10px !important; */
  /* min-height: 40px; */
  /* min-height: 100%; */
  /* min-height: 50px; */
}
.inputNewTask select option {
  /* min-height: 50px; */
  /* line-height: 70px; */
  font-size: 15px !important;
  padding: 15px !important;
  margin: 15px !important;
}

#addNewTask {
  /* margin: 7px; */
  /* padding: 5px; */
  align-self: center;
  margin-top: 30px;
  /* justify-self: center; */
  /* border-radius: 5px; */
  border: none;
  background: #04AA6D;
  cursor: pointer;
}

#addNewTask i{
  padding: 10px;
  font-size: 15px;
  color: white;
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.row {
  /* border: 1px solid black; */
  width: 100%;
  display: flex;
}
td{
  /* padding: 10px;
  font-size: 15px;
  border: 1px solid lightgray;
  width: 100%; */
}
button{
  border: none;
  border-radius: 5px;
  margin: 5px;
}
.btnDelete{
  background: red;
}
.btnCheck{
  background: #26BC90;
}
.btnUndo {
  background: #252525;
}
#btnUndo {
  cursor: pointer;
  font-size: 20px;
  /* background: brown; */
  color: white;
  /* color: #034668; */
  padding: 10px;
}
#checkBtn{
  cursor: pointer;
  font-size: 20px;
  /* background: brown; */
  color: white;
  padding: 10px;
}
#deleteBtn{
  cursor: pointer;
  font-size: 20px;
  /* background: brown; */
  color: white;
  padding: 10px;
}


/* table css */
.content-table{
  border-collapse: collapse;
  margin: 25px auto;
  /* font-size: 1.2em; */
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  width: 100%;
  /* max-width: 75vw;
   */
  text-align: center;
}
.content-table thead tr {
  background: #034668;
  color: white;
  font-weight: bold;
}
.table2 thead tr {
  background: #7d8e9f;
}
.table3 thead tr {
  background: #93DE7D;
}
.content-table thead tr td th{
  /* background: red; */
  width: 100%;
  display: block;
  text-align: center;
  font-size: 1em;
  padding: 10px 0;
}
.content-table td {
  padding: 12px 15px;
  text-align: center;
}
.content-table tbody tr {
  border-bottom: 1px solid #ddd;
}
.content-table tbody tr:nth-of-type(even){
  background: #f3f3f3;
}
.content-table tbody tr:last-of-type{
  border-bottom: 2px solid #034668;
}
/* DATE PICKER */

.datepicker{
  display: flex;
  /* margin-left: 150px; */
}
.datePickerButton{
  padding: 10px 20px;
  border: 1px solid;
  cursor: pointer;
  font-size: 20px;
  font-weight: bolder;
  background: #034668;
  color: rgb(255, 245, 245);
  transition: all .2s ease;
}
.done{
  background: #5cb85cc4 !important;
  /* color: #e7e7e7; */
  color: #252525;
  /* font-weight: bolder; */
}
.datePickerButton:hover{
  background: #034668;
}

optgroup{
  /* background: red; */
  /* font-size: 20px; */
  /* font-weight: bolder; */
  /* font-size: 25px; */
}

.mx-datepicker-main td .cell .today {
  /* color: red; */
  background: #034668 !important;
}
.mx-table-date .today{
  
  background: #034668 !important;
}
#myDIV{
  transition: all 0.5s ease;
  /* display: none; */
}
#myDIV, #myDIV2 {
  background: rgb(238, 232, 232);
}
.subheading {
  /* border-top: 1px solid black; */
}
.showMoreBtn{
  padding: 7px;
  font-size: 13px;
  background:#034668;
  color: white;
  font-weight: bolder;
}

.forwaded{
  background: #f9da84 !important;
}

.buttons {
  display: flex;
}

.companySearch{
  border: 1px solid black;
  position: absolute;
  top: 99%;
  left: 0;
  width: 100%;
  background: rgb(245, 245, 245);
}
.companySearch p {
  text-align: left;
  padding: 5px;
  cursor: pointer;
}
.companySearch p:hover{
  background: lightgray;
}
.addNewCompany{
  font-size: 13px;
  color: #034668;
  font-weight: bolder;
  background: #eeeeee;
}
.clientForm{
  display: flex;
  flex-direction: column;
  /* width: 50%; */
  height: 100%;
  margin: 20px auto;
  /* justify-content: center; */
  align-items: center;
}
.clientForm label {
  text-align: center;
  display: block;
  width: 100%;
}
.clientForm input {
  /* width: 30%; */
  width: 40%;
  margin: 10px auto;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #034668;
  text-align: center;
}
.modalButton{
  cursor: pointer;
  padding: 5px 10px;
  background: #26BC90;
  font-size: 17px;
  color: white;
  border-radius: 8px;
  font-weight: bolder;
  width: 40%;
}
</style>
