<template>
  <div class="home">
      <h2>Dodaj novi podsetnik</h2>
      <div class="newTodo">
        <div class="newTodoText">
          <label for="todo">Tekst</label> 
          <input type="text-area" name="todo" id="todo" v-model="newTodo.Text">
        </div>
        <div class="newTodoName">
          <label for="todo">Ime</label> 
          <select v-model="newTodo.Name">
            <option value="Stefan">Stefan</option>
            <option value="Nevena">Nevena</option>
            <option value="Mihajlo">Mihajlo</option>
            <option value="Saška">Saška</option>
            <option value="Frka">Frka</option>
            <option value="Vesna">Vesna</option>
            <option value="Luka">Luka</option>
          </select>
        </div>
        <div class="newTodoButton">
          <button @click="addTodo()">Dodaj</button>
        </div>
      </div>

      <div  class="todo">
        <div class="todoCars" v-for="todo in todos" :key="todo.id" v-bind:class="{ done: todo.Done}">
          <div class="todoHead">
            <div class="todoHeader" v-bind:class="todo.Name">
              <p>{{todo.Name}}</p>
            </div>
            <div class="todoButton">
              <button @click="finishTodo(todo.id)"> <p style="margin-right: 5px">Završi</p> <i class="fa fa-check-circle-o" aria-hidden="true"></i></button>
            </div>
          </div>
          <div class="todoBody">
            <div class="todoText">
              <p>{{todo.Text}}</p>
            </div>
          </div>
        </div>
      </div>

  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/ .vue'
import axios from 'axios';

export default {
  name: 'Todo',
  data() {
    return {
        todos: [],
        newTodo: {
            "Name" : '',
            "Text" : '',
            "Done" : false,
        }
    }
  },
  methods: {
    async callApi(){
    try {
      const resTodos= await axios.get('https://strapi-simtrans.herokuapp.com/todos?Done=false');
      this.todos = resTodos.data;
    } catch (e) {
      console.log(e);
    }
   },
   async addTodo(){
     try{
       const newClient = await axios.post('https://strapi-simtrans.herokuapp.com/todos', {
         'Name': this.newTodo.Name,
         'Text' : this.newTodo.Text,
         'Done' : this.newTodo.Done,
       }).then(response =>{
         console.log(response, newClient);
          this.newTodo = {
            "Name" : '',
            "Text" : '',
            "Done" : false,
        };
          this.callApi();
       });
     }catch (e) {
      console.log(e);
    }
   },
   finishTodo(id){
     console.log(id)
     axios.put('https://strapi-simtrans.herokuapp.com/todos/' + id, {
       'Done' : true
     })
       .then(() => {
          this.callApi();
          // console.log(this.componentKey)
        }, (error) => {
          console.log(error);
        })
     
   },
  },
  computed:{

  },
  beforeMount: function (){
    this.callApi();
  },
}
</script>

<style scoped>
.todo{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: start;
  justify-items: start;
  align-items: start;
  align-items: space-evenly;

  /* align-content: start; */
  max-width: 75%;
  margin: 0 auto;
  margin-top: 100px;
  grid-gap: 5%;
}
.newTodo{
  display: flex;
  justify-content: center;
  border-bottom: 1px solid lightgray;
  margin-bottom: 20px;
}
label{
  font-size: 20px;
  font-weight: bolder;
  text-align: left;
}
input{
  padding:  10px 20px;
  border: none;
  font-size: 16px;
  min-width: 250px;
  border-bottom: 1px solid black;
}
select{
  padding:  10px 20px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid black;
}
select option {
  font-size: 20px;
  padding: 5px !important;
}
.newTodoText, .newTodoName, .newTodoButton{
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.newTodoButton{
  align-self: flex-end;
}
.newTodoButton button {
  padding: 13px;
  font-size: 17px;
  font-weight: bolder;
  background: rgb(46, 216, 88);
  color: white;
  border: none;
  cursor: pointer;
}
.todoCars {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  min-width: 100%;
  /* align-self: space; */
  /* max-width: 75%; */
  /* margin: ; */
  /* border-bottom: 1px solid black; */
  /* margin-top: 1px; */
}
.todoHeader{
  width: 100px;
  /* background: blanchedalmond; */
  font-size: 20px;
  padding: 10px;
  color: rgb(29, 29, 29);
  color: white;
  font-weight: bolder;
  /* margin-left: 30px; */
  /* border: 1px solid black; */
  /* align-self: flex-start; */
}
.todoBody{
  padding: 10px;
  margin-top: 5px;
  border: 1px solid rgb(226, 226, 226);
  display: flex;
  /* background: rebeccapurple; */
}
.todoText{
  font-size: 17px;
  /* font-weight: bolder; */
  text-align: left;
  padding: 10px;
}
.todoButton button {
  display: flex;
  /* padding: 5px; */
  padding: 10px;
  /* border-radius: 10px; */
  font-size: 17px;
  font-weight: bolder;
  /* border-radius: 10px; */
  background: rgb(46, 216, 88);
  align-self: flex-end;
  /* justify-self: flex-end; */
  /* justify-self: end; */
  align-self: flex-start;
  color: white;
  border: none;
  cursor: pointer;
}
.Luka{
    background: #063146ea;
}
.Nevena { 
    background: #063146ea;
}
.Stefan{ 
    background: #063146ea;
}
.Mihajlo{  
    background: #063146ea;
}
.Saška{  
    background: #063146ea;

}
.Frka{    background: #063146ea;

}
.Vesna{
  background: #063146ea;

}
.todoHead{
  display: flex;
  justify-content: space-between;
}
</style>

