<template>
    <div>
        <h2>Podaci o prikolici {{truckProfile.Number}}</h2>
        <ul class="company-info">
          <li>
              Registracija: <br> <span>{{truckProfile.Number}}</span>
          </li>
        </ul>
        <h2>Fakture vezane za prikolicu {{truckProfile.Number}}</h2>
    </div>
</template>

<script>

import axios from 'axios';

export default {
  name: 'TrucksProfile',
  data() {
    return {
        edit: false,
        addNewClientName:'',
        truckProfile: {},
        driverRides: [],
        driverId: '',
    }
  },
  methods: {
    async callApi(){
    var $this = this;
    try {
      const resTruck = await axios.get('https://strapi-simtrans.herokuapp.com/trailers/' + $this.$route.params.id);
      this.truckProfile = resTruck.data;
      console.log(this.truckProfile)
    } catch (e) {
      console.log(e);
    }
   },
   async addClient(event){
     event.preventDefault();
     try{
       const newClient = await axios.post('https://strapi-simtrans.herokuapp.com/trailers', {
         'Name': this.addNewClientName
       }).then(response =>{
         console.log(response, newClient);
          this.addNewClientName = '';
          this.callApi();
       });
     }catch (e) {
      console.log(e);
    }
    // console.log(this.newTask);
   },
   editProfile(){
     this.edit = !this.edit;
   },
   async updateDriverProfile(){
    //  event.preventDefault();
     try{
       const newDriver = await axios.put('https://strapi-simtrans.herokuapp.com/suppliers/' + this.driverProfile.id, {
         'Name': this.driverProfile.Name,
         'PhoneNumber' : this.driverProfile.PhoneNumber,
         'Licence' : this.driverProfile.Licence
       }).then(response =>{
         console.log(response, newDriver);
          this.newDriverName = '';
          this.callApi();
       });
     }catch (e) {
      console.log(e);
    }
    this.edit = !this.edit;
   }
  },
  computed:{

  },
  beforeMount: function (){
    this.callApi();
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* head css */
.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* flex-direction: column; */
    width: 50%;
    margin: 0 auto;
    grid-gap: 50px;
}
.category{
    min-height: 70px;
    display: flex;
    padding: 15px;
    border: 1px solid rgb(2, 1, 1);
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-weight: bolder;
    background: #006D8A;
    /* display: block; */
    color: white;
    text-decoration: none;
}


/* btnAdd */
button{
    border: none;
}
.addBtn{
    margin-left: 10px;
    padding: 15px;
    font-weight: bolder;
    background: #26BC90;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s ease;
}
.addBtn:hover{
    background:#135c46 ;
}
label{
    font-size: 20px;
}
input{
    line-height: 30px;
    font-size: 20px;
    margin-left: 10px;
    padding:  5px 10px;
}


.title{
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}


/* TABELA */
.content-table{
  border-collapse: collapse;
  margin: 25px auto;
  /* font-size: 1.2em; */
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  width: 100%;
  max-width: 55vw;
  text-align: center;
}
.content-table thead tr {
  background: #034668;
  color: white;
  font-weight: bold;
}
.content-table thead tr td th{
  /* background: red; */
  width: 100%;
  display: block;
  text-align: center;
  font-size: 20px;
  padding: 10px 0;
}
.content-table td {
  padding: 12px 10px;
  text-align: center;
  font-size: 20px;
}
.content-table tbody tr {
  border-bottom: 1px solid #ddd;
}
.content-table tbody tr:nth-of-type(even){
  background: #f3f3f3;
}
.content-table tbody tr:last-of-type{
  border-bottom: 2px solid #034668;
}

.profile{
    width: 600px;
    margin: 0 auto;
    background: rgba(247, 242, 242, 0.383);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
}
.profile-head{
    padding: 20px;
    /* border: 1px solid black; */
    display: flex;
    background: #006c8a0c;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
}
.profile-head .image img{
    width: 100px;
}
.profile-name{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 20px;
}
.profile-name p {
    display: block;
    align-self: center;
    font-size: 25px;
    font-weight: bolder;
}
.profile-table{
    margin-top: 20px;
    padding: 35px;
}
.profile-table td {
    text-align: left;
    padding: 10px 10px;
    border: 1px solid #0346680c;
}
h2{
    margin: 20px 0;
}
.company-info{
    display: flex;
    width: 60%;
    padding: 10px;
    margin: 20px auto;
    border-bottom: 1px solid black;
    justify-content: space-between  ;
}
.company-info li {
    /* border: 1px solid black; */
    padding: 10px;
    font-size: 17px;
    display: flex;
    flex-direction: column;
}
.company-info li span {
    font-size: 20px;
    font-weight: bolder;
}
</style>
