<template>
  <div class="">
    <form action="">
        <h3 class="title">Dodaj novu adresu za notifikacije</h3>
        <div class="account-form">
            <label for="Name">Ime</label>
            <input type="text" name="Name" v-model="addNewAccountName">
            <label for="Name">Email</label>
            <input type="text" name="Name" v-model="addNewAccountEmail">
            <button @click="addClient($event)" class="addBtn">DODAJ</button>
        </div>
    </form>
<!-- {{drivers}} -->
    <h2 class="title">Adrese za notifikacije</h2>
    <table class="content-table" ref="table"> 
        <!-- <h1>{{componentKey}}</h1> -->
        <thead>
          <tr>
            <td><th>Ime</th></td>
            <td><th>Email adresa</th></td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="account in accounts" :key="account.id">
            <td>{{account.Name}}</td>
            <td>{{account.Email}}</td>
          </tr>
        </tbody>
      </table>


  </div>
</template>

<script>

import axios from 'axios';

export default {
  name: 'UserEmails',
  data() {
    return {
        addNewAccountName:'',
        addNewAccountEmail: '',
        accounts: [],
    }
  },
  methods: {
    async callApi(){
    try {
      const resAccounts= await axios.get('https://strapi-simtrans.herokuapp.com/accounts');
      this.accounts = resAccounts.data;
      console.log(this.accounts)
    } catch (e) {
      console.log(e);
    }
   },
   async addClient(event){
     event.preventDefault();
     try{
       const newAccount = await axios.post('https://strapi-simtrans.herokuapp.com/accounts', {
         'Name': this.addNewAccountName,
         'Email': this.addNewAccountEmail,
       }).then(response =>{
         console.log(response, newAccount);
          this.addNewAccountName = '';
          this.addNewAccountEmail = '';
          this.callApi();
       });
     }catch (e) {
      console.log(e);
    }
   },
  },
  computed:{

  },
  beforeMount: function (){
    this.callApi();
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* head css */
.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* flex-direction: column; */
    width: 50%;
    margin: 0 auto;
    grid-gap: 50px;
}
.category{
    min-height: 70px;
    display: flex;
    padding: 15px;
    border: 1px solid rgb(2, 1, 1);
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-weight: bolder;
    background: #006D8A;
    /* display: block; */
    color: white;
    text-decoration: none;
}


/* btnAdd */
button{
    border: none;
}
.addBtn{
    margin-left: 10px;
    padding: 15px;
    font-weight: bolder;
    background: #26BC90;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s ease;
}
.addBtn:hover{
    background:#135c46 ;
}
label{
    font-size: 20px;
}
input{
    line-height: 30px;
    font-size: 20px;
    margin-left: 10px;
    padding:  5px 10px;
}


.title{
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}


/* TABELA */
.content-table{
  border-collapse: collapse;
  margin: 25px auto;
  /* font-size: 1.2em; */
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  width: 100%;
  max-width: 55vw;
  text-align: center;
}
.content-table thead tr {
  background: #034668;
  color: white;
  font-weight: bold;
}
.content-table thead tr td th{
  /* background: red; */
  width: 100%;
  display: block;
  text-align: center;
  font-size: 20px;
  padding: 10px 0;
}
.content-table td {
  padding: 12px 10px;
  text-align: center;
  font-size: 20px;
}
.content-table tbody tr {
  border-bottom: 1px solid #ddd;
}
.content-table tbody tr:nth-of-type(even){
  background: #f3f3f3;
}
.content-table tbody tr:last-of-type{
  border-bottom: 2px solid #034668;
}

.account-form {
    margin: 0 auto;
    display: flex;
    width: 400px;
    flex-direction: column;
}
.account-form label {
    text-align: left;
    margin-left: 20px;
}
.account-form input {
    padding: 10px;
    margin-bottom: 20px;
}
</style>
