<template>
  <div id="app">
    <div class="top-banner" v-if="jwt"></div>
    <input type="checkbox" id="check" v-if="jwt">
    <label for="check" v-if="jwt">
      <i class="fa fa-bars" id="btn-open"></i>
      <i class="fa fa-times" id="btn-cancel"></i>
    </label>
    
    <div class="sidebar" v-if="jwt">
      <header>SIM TRANS</header>
      <ul style="text-align:start">
        <li>
          <a href="/"> <i class="fa fa-dot-circle-o"></i> Početna</a>
        </li>
        <li>
          <a href="/tasks"> <i class="fa fa-dot-circle-o"></i> Dnevni zadaci</a>
        </li>
        <li>
          <a href="/orders"> <i class="fa fa-dot-circle-o"></i> Nalozi</a>
        </li>
        <li>
          <a href="/invoice"> <i class="fa fa-dot-circle-o"></i> Fakture</a>
        </li>
        <li>
          <a href="/adminboard"> <i class="fa fa-dot-circle-o"></i> Kontrolna tabla</a>
        </li>
        <li>
          <a href="/todo"> <i class="fa fa-dot-circle-o"></i> Podsetnik</a>
        </li>
        <li>
          <a href="/artpetrol"> <i class="fa fa-dot-circle-o"></i> Art Petrol</a>
        </li>
      </ul>
    </div>
    <div class="notification-bar" v-if="jwt">
      <ul>
        <li>
          <!-- <i class="fa fa-bell notification" aria-hidden="true"></i> -->
          <!-- <i class="fa fa-bell notification" aria-hidden="true"></i> -->
        </li>
        <li>
          <!-- <a href="/todo">Back</a> -->
          <a href="/todo"><i class="fa fa-calendar-o calendar" aria-hidden="true"></i></a>
          <!-- <i class="fa fa-dot-circle-o calendar" aria-hidden="true"></i> -->
        </li>
        <li>
          <a href="/"><i class="fa fa-home homeBtn" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="#" @click="Logout()"><i class="fa fa-sign-out logoutBtn" aria-hidden="true"></i></a>
        </li>
        <!-- <li>
          <a href="" @click="$router.go(-1)"><i class="fa fa-arrow-left backBtn" aria-hidden="true"></i></a>
        </li> -->
        <div class="todolist">
          <!-- <h1>todo</h1> -->
          <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
          </ul>
        </div>
      </ul>
      <div class="notifciation">
        <ul v-for="notification in notifications" :key="notification.id" :notification="notification">
          <li :class="notification.type">{{notification.message}}</li>
        </ul>
      </div>
    </div>
    <div class="router-view">
      <router-view/>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/ .vue'
// import store from '../src/store/index.js'

export default {
  name: 'App',
  // store,
  components: { 
  },
  data() {
    return {
      notCount: 200 ,
      notifications: [],
      jwt: '',
   
    }
  },
  methods: {
    // increment() {
    //   this.$store.commit('increment')
    //   console.log(store.state)
    // }
    getToken(){
      let token = localStorage.getItem("jwt");
      this.jwt = token;
      console.log(token);
    },
    Logout(){
      localStorage.removeItem("jwt");
      location.reload();
    }
  },
  computed:{

  },
  mounted: function() {
    this.getToken();
    // console.log(this.$store.state.notification.count)
    this.notifications = this.$store.state.notification;
    this.notCount = this.$store.state.notification.length;

  }
}
</script>


<style>
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}
.sidebar {
  position: fixed;
  z-index: 111;
  left: -250px !important;
  width: 250px;
  height: 100%;
  left: 0;
  background: #042331;
  transition: all .5s ease-in;
}
.sidebar header{
  text-align: left;
  padding-left: 43px;
  font-size: 22px;
  line-height: 70px;
  color: white;
  font-weight: bold;
  background: #063146;
  user-select: none;
}

.sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, .1);
  border-bottom: 1px solid black;
  transition: .4s;
}
ul li:hover a {
  padding-left: 50px;
}

.sidebar ul a i {
  margin-right: 10px;
}

#app {
  text-align: center;
  width: 100%;
  color: #2c3e50;
}


#check{
  display: none;
}

label #btn-open, label #btn-cancel {
  position: absolute;
  cursor: pointer;
  background: #042331;
  border-radius: 3px;
  padding: 6px 12px;
}

label #btn-open {
  left: 40px;
  top: 10px;
  font-size: 35px;
  color: white;
  transition: all .5s ease;
}

label #btn-cancel {
  z-index: 1111;
  left: -195px;
  top: 13px;
  font-size: 32px;
  color: #0a5275;
  background: none;
  padding: 4px 9px;
  opacity: 0;
  transition: all .65s ease-in-out;
  pointer-events: none;
}

#check:checked ~ .sidebar {
  left: 0 !important;
}
#check:checked ~ label #btn-open {
  left: -250px;
  opacity: 0;
  pointer-events: none;
}

#check:checked ~ label #btn-cancel {
  left: 195px;
  opacity: 1;
  pointer-events: all;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
.router-view{
  margin: 0 70px;
  padding-top: 100px;
}


/* notification button */
.notification {
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 30px;
  border: 1px solid;
  background: #063146;
  color: white;
  padding: 10px;
  border-radius: 50px;
  transition: all .3s ease;
}
.calendar {
  width: 31px;
  height: 31px;
  /* background-color: rebeccapurple; */
  z-index: 2300;
  position: absolute;
  top: 60px;
  right: 20px;
  transition: all .5s ease;
  position: absolute;
  top: 10px;
  right: 81px;
  font-size: 30px;
  border: 1px solid;
  background: #063146;
  color: white;
  padding: 10px;
  border-radius: 50px;
  transition: all .3s ease;
}
.homeBtn{
  width: 31px;
  height: 31px;
  /* background-color: rebeccapurple; */
  z-index: 2300;
  transition: all .5s ease;
  position: absolute;
  top: 10px;
  right: 141px;
  font-size: 30px;
  border: 1px solid;
  background: #063146;
  color: white;
  padding: 10px;
  border-radius: 50px;
  transition: all .3s ease;
}
.logoutBtn{
  width: 31px;
  height: 31px;
  /* background-color: rebeccapurple; */
  z-index: 2300;
  transition: all .5s ease;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  border: 1px solid;
  background: #063146;
  color: white;
  padding: 10px;
  border-radius: 50px;
  transition: all .3s ease;
}
.backBtn{
  width: 31px;
  height: 31px;
  z-index: 2300;
  transition: all .5s ease;
  position: absolute;
  top: 10px;
  right: 160px;
  font-size: 30px;
  border: 1px solid;
  background: #063146;
  color: white;
  padding: 10px;
  border-radius: 50px;
  transition: all .3s ease;
}

.top-banner{
  box-shadow: 0px 1px #04233128;
  height: 73px;
  width: 100%;
  position: absolute;
  top: 0;
  background: #eeebeb;
  /* background: #042331; */
}

.calendar:hover, .homeBtn:hover, .logoutBtn:hover{
  background-color: #42b983;;
}

.notifciation{
  width: 250px;
  height: 100px;
  /* background-color: rebeccapurple; */
  z-index: 2300;
  position: absolute;
  top: 60px;
  right: 50px;
  transition: all .5s ease;
}
.notifciation ul li {
  padding: 20px;
  font-size: 20px;
  display: none;
}
.success{
  background-color: #42b983;
}
.delete {
  background-color: #750a33;
  color: white;
}
.todolist{
  background: red;
  position: absolute;
  top: 40px;
  right: 150px;
  display: none;
}
</style>

