<template>
  <div class="NavTop">
      <h1>NAV</h1>
  </div>
</template>

<script>
export default {
  name: 'Nav',
  props: {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.NavTop{
    padding: 20px 0;
    border-bottom: 1px solid gray;
    background: rgb(246, 242, 242);
}
.NavTop h1 {
    padding: 0;
    margin: 0;
}
</style>
